---
openapi: 3.0.3
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.29.0
servers:
  - url: 'https://api.themoviedb.org/3'
tags:
  - name: Collections
  - name: Companies
  - name: Configuration
  # - name: Discover
  - name: Genre
  - name: Keywords
  - name: Movie Lists
  - name: Movies
  - name: Search
  - name: TV Series
  # - name: TV Seasons
paths:
  /collection/{collection_id}:
    $ref: 'collection.yml#/components/paths/Details'
  /company/{company_id}:
    $ref: 'company.yml#/components/paths/Details'
  /company/{company_id}/images:
    $ref: 'company.yml#/components/paths/Images'
  /configuration:
    $ref: 'configuration.yml#/components/paths/Details'
  /configuration/countries:
    $ref: 'configuration.yml#/components/paths/Countries'
  /configuration/jobs:
    $ref: 'configuration.yml#/components/paths/Jobs'
  /configuration/languages:
    $ref: 'configuration.yml#/components/paths/Languages'
  /configuration/primary_translations:
    $ref: 'configuration.yml#/components/paths/PrimaryTranslations'
  /configuration/timezones:
    $ref: 'configuration.yml#/components/paths/Timezones'
  #  /discover/movie:
  #    $ref: 'discover.yml#/components/paths/Movie'
  /genre/movie/list:
    $ref: 'genre.yml#/components/paths/Movie'
  /genre/tv/list:
    $ref: 'genre.yml#/components/paths/TV'
  /keyword/{keyword_id}:
    $ref: 'keyword.yml#/components/paths/Details'
  /keyword/{keyword_id}/movies:
    $ref: 'keyword.yml#/components/paths/Movies'
  /movie/now_playing:
    $ref: 'movie.yml#/components/paths/NowPlaying'
  /movie/popular:
    $ref: 'movie.yml#/components/paths/Popular'
  /movie/top_rated:
    $ref: 'movie.yml#/components/paths/TopRated'
  /movie/upcoming:
    $ref: 'movie.yml#/components/paths/Upcoming'
  /movie/{movie_id}:
    $ref: 'movie.yml#/components/paths/Details'
  /movie/{movie_id}/credits:
    $ref: 'movie.yml#/components/paths/Credits'
  /movie/{movie_id}/keywords:
    $ref: 'movie.yml#/components/paths/Keywords'
  /movie/{movie_id}/recommendations:
    $ref: 'movie.yml#/components/paths/Recommendations'
  /movie/{movie_id}/similar:
    $ref: 'movie.yml#/components/paths/Similar'
  /search/collection:
    $ref: 'search.yml#/components/paths/Collection'
  /search/keyword:
    $ref: 'search.yml#/components/paths/Keyword'
  /search/movie:
    $ref: 'search.yml#/components/paths/Movie'
  /search/multi:
    $ref: 'search.yml#/components/paths/Multi'
  /search/person:
    $ref: 'search.yml#/components/paths/Person'
  /search/tv:
    $ref: 'search.yml#/components/paths/TV'
  /tv/{series_id}/credits:
    $ref: 'tv.yml#/components/paths/Credits'
components:
  parameters:
    CollectionID:
      $ref: 'collection.yml#/components/parameters/CollectionID'
    CompanyID:
      $ref: 'company.yml#/components/parameters/CompanyID'
    #    DiscoverSortBy:
    #      $ref: 'discover.yml#/components/parameters/SortBy'
    IncludeAdult:
      $ref: 'commons.yml#/components/parameters/IncludeAdult'
    KeywordID:
      $ref: 'keyword.yml#/components/parameters/KeywordID'
    LanguageParam:
      $ref: 'commons.yml#/components/parameters/LanguageParam'
    MovieAppendToResponse:
      $ref: 'movie.yml#/components/parameters/MovieAppendToResponse'
    MovieID:
      $ref: 'movie.yml#/components/parameters/MovieID'
    PageParam:
      $ref: 'commons.yml#/components/parameters/PageParam'
    PrimaryReleaseYear:
      $ref: 'commons.yml#/components/parameters/PrimaryReleaseYear'
    Query:
      $ref: 'commons.yml#/components/parameters/Query'
    Region:
      $ref: 'commons.yml#/components/parameters/Region'
    SeriesID:
      $ref: 'commons.yml#/components/parameters/SeriesID'
    Year:
      $ref: 'commons.yml#/components/parameters/Year'
  responses:
    InvalidPage:
      $ref: 'commons.yml#/components/responses/InvalidPage'
    NotFound:
      $ref: 'commons.yml#/components/responses/NotFound'
    TooManyRequests:
      $ref: 'commons.yml#/components/responses/TooManyRequests'
    Unauthorized:
      $ref: 'commons.yml#/components/responses/Unauthorized'
  schemas:
    CastListItem:
      $ref: 'commons.yml#/components/schemas/CastListItem'
    Collection:
      $ref: 'collection.yml#/components/schemas/Collection'
    CollectionBase:
      $ref: 'commons.yml#/components/schemas/CollectionBase'
    CollectionListItem:
      $ref: 'commons.yml#/components/schemas/CollectionListItem'
    CollectionListPage:
      $ref: 'commons.yml#/components/schemas/CollectionListPage'
    Company:
      $ref: 'company.yml#/components/schemas/Company'
    CompanyBase:
      $ref: 'commons.yml#/components/schemas/CompanyBase'
    CompanyLogo:
      $ref: 'company.yml#/components/schemas/CompanyLogo'
    Country:
      $ref: 'configuration.yml#/components/schemas/Country'
    CountryCode:
      $ref: 'commons.yml#/components/schemas/CountryCode'
    CountryWithTimezones:
      $ref: 'configuration.yml#/components/schemas/CountryWithTimezones'
    Credits:
      $ref: 'commons.yml#/components/schemas/Credits'
    CrewListItem:
      $ref: 'commons.yml#/components/schemas/CrewListItem'
    Department:
      $ref: 'configuration.yml#/components/schemas/Department'
    Error:
      $ref: 'commons.yml#/components/schemas/Error'
    GenreList:
      $ref: 'genre.yml#/components/schemas/GenreList'
    Language:
      $ref: 'commons.yml#/components/schemas/Language'
    Media:
      $ref: 'commons.yml#/components/schemas/Media'
    Movie:
      $ref: 'movie.yml#/components/schemas/Movie'
    MovieKeywordList:
      $ref: 'movie.yml#/components/schemas/MovieKeywordList'
    MovieListItem:
      $ref: 'commons.yml#/components/schemas/MovieListItem'
    MovieListItemWithMediaType:
      $ref: 'commons.yml#/components/schemas/MovieListItemWithMediaType'
    MovieListPage:
      $ref: 'commons.yml#/components/schemas/MovieListPage'
    MovieListPageWithDates:
      $ref: 'commons.yml#/components/schemas/MovieListPageWithDates'
    MultiListPage:
      $ref: 'commons.yml#/components/schemas/MultiListPage'
    Object:
      $ref: 'commons.yml#/components/schemas/Thing'
    ObjectListPage:
      $ref: 'commons.yml#/components/schemas/ObjectListPage'
    ResultPage:
      $ref: 'commons.yml#/components/schemas/Page'
    PersonListItem:
      $ref: 'commons.yml#/components/schemas/PersonListItem'
    PersonListItemWithMediaType:
      $ref: 'commons.yml#/components/schemas/PersonListItemWithMediaType'
    PersonListPage:
      $ref: 'commons.yml#/components/schemas/PersonListPage'
    ProductionCountry:
      $ref: 'commons.yml#/components/schemas/ProductionCountry'
    TvListItem:
      $ref: 'commons.yml#/components/schemas/TvListItem'
    TvListItemWithMediaType:
      $ref: 'commons.yml#/components/schemas/TvListItemWithMediaType'
    TvListPage:
      $ref: 'commons.yml#/components/schemas/TvListPage'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
