openapi: 3.0.3
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.16.0
servers:
  - url: 'https://api.themoviedb.org/3'
tags:
  - name: Configuration
  - name: Genre
  - name: Keywords
  - name: Movie Lists
  - name: Movies
  - name: Search
paths:
  /configuration:
    $ref: 'configuration.yml#/components/paths/Details'
  /configuration/countries:
    $ref: 'configuration.yml#/components/paths/Countries'
  /configuration/jobs:
    $ref: 'configuration.yml#/components/paths/Jobs'
  /configuration/languages:
    $ref: 'configuration.yml#/components/paths/Languages'
  /configuration/primary_translations:
    $ref: 'configuration.yml#/components/paths/PrimaryTranslations'
  /configuration/timezones:
    $ref: 'configuration.yml#/components/paths/Timezones'
  /genre/movie/list:
    $ref: 'genre.yml#/components/paths/Movie'
  /genre/tv/list:
    $ref: 'genre.yml#/components/paths/TV'
  /keyword/{keyword_id}:
    $ref: 'keyword.yml#/components/paths/Details'
  /keyword/{keyword_id}/movies:
    $ref: 'keyword.yml#/components/paths/Movies'
  /movie/now_playing:
    $ref: 'movie.yml#/components/paths/NowPlaying'
  /movie/upcoming:
    $ref: 'movie.yml#/components/paths/Upcoming'
  /movie/{movie_id}/keywords:
    $ref: 'movie.yml#/components/paths/Keywords'
  /movie/{movie_id}/similar:
    $ref: 'movie.yml#/components/paths/Similar'
  #  /search/collection:
  #    $ref: 'search.yml#/components/paths/Collection'
  /search/keyword:
    $ref: 'search.yml#/components/paths/Keyword'
  /search/movie:
    $ref: 'search.yml#/components/paths/Movie'
components:
  parameters:
    IncludeAdult:
      $ref: 'commons.yml#/components/parameters/IncludeAdult'
    KeywordID:
      $ref: 'keyword.yml#/components/parameters/KeywordID'
    LanguageParam:
      $ref: 'commons.yml#/components/parameters/Language'
    MovieID:
      $ref: 'movie.yml#/components/parameters/MovieID'
    Page:
      $ref: 'commons.yml#/components/parameters/Page'
    Query:
      $ref: 'commons.yml#/components/parameters/Query'
    Region:
      $ref: 'commons.yml#/components/parameters/Region'
  responses:
    InvalidPage:
      $ref: 'commons.yml#/components/responses/InvalidPage'
    NotFound:
      $ref: 'commons.yml#/components/responses/NotFound'
    Unauthorized:
      $ref: 'commons.yml#/components/responses/Unauthorized'
  schemas:
    Country:
      $ref: 'configuration.yml#/components/schemas/Country'
    Department:
      $ref: 'configuration.yml#/components/schemas/Department'
    Error:
      $ref: 'commons.yml#/components/schemas/Error'
    Language:
      $ref: 'configuration.yml#/components/schemas/Language'
    MovieListItem:
      $ref: 'commons.yml#/components/schemas/MovieListItem'
    MovieListPage:
      $ref: 'commons.yml#/components/schemas/MovieListPage'
    MovieListPageWithDates:
      $ref: 'commons.yml#/components/schemas/MovieListPageWithDates'
    Object:
      $ref: 'commons.yml#/components/schemas/Object'
    ObjectListPage:
      $ref: 'commons.yml#/components/schemas/ObjectListPage'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
