openapi: 3.0.3
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.7.0
servers:
  - url: 'https://api.themoviedb.org/3'
tags:
  - name: Configuration
  - name: Genre
  - name: Keywords
#  - name: Search
paths:
  /configuration:
    $ref: 'configuration.yml#/components/paths/Details'
  /configuration/countries:
    $ref: 'configuration.yml#/components/paths/Countries'
  /configuration/jobs:
    $ref: 'configuration.yml#/components/paths/Jobs'
  /configuration/languages:
    $ref: 'configuration.yml#/components/paths/Languages'
  /configuration/primary_translations:
    $ref: 'configuration.yml#/components/paths/PrimaryTranslations'
  /configuration/timezones:
    $ref: 'configuration.yml#/components/paths/Timezones'
  /genre/movie/list:
    $ref: 'genre.yml#/components/paths/Movie'
  /genre/tv/list:
    $ref: 'genre.yml#/components/paths/TV'
  /keyword/{keyword_id}:
    $ref: 'keyword.yml#/components/paths/Details'
#  /search/collection:
#    $ref: 'search.yml#/components/paths/SearchCollection'
components:
  parameters:
#    IncludeAdult:
#      $ref: 'commons.yml#/components/parameters/IncludeAdult'
    LanguageParam:
      $ref: 'commons.yml#/components/parameters/Language'
#    Page:
#      $ref: 'commons.yml#/components/parameters/Page'
#    Query:
#      $ref: 'commons.yml#/components/parameters/Query'
  responses:
    Unauthorized:
      $ref: 'commons.yml#/components/responses/Unauthorized'
  schemas:
    Country:
      $ref: 'configuration.yml#/components/schemas/Country'
    Department:
      $ref: 'configuration.yml#/components/schemas/Department'
    Error:
      $ref: "commons.yml#/components/schemas/Error"
    Object:
      $ref: "commons.yml#/components/schemas/Object"
    Language:
      $ref: 'configuration.yml#/components/schemas/Language'
#    MovieBase:
#      $ref: 'commons.yml#/components/schemas/MovieBase'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []