openapi: 3.0.3
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.10.0
servers:
  - url: 'https://api.themoviedb.org/3'
tags:
  - name: Configuration
  - name: Genre
  - name: Keywords
paths:
  /configuration:
    get:
      summary: Details
      description: Query the API configuration details.
      operationId: ConfigurationDetails
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: object
                    properties:
                      base_url:
                        type: string
                        example: 'http://image.tmdb.org/t/p/'
                      secure_base_url:
                        type: string
                        example: 'https://image.tmdb.org/t/p/'
                      backdrop_sizes:
                        type: array
                        items:
                          type: string
                          example: w300
                      logo_sizes:
                        type: array
                        items:
                          type: string
                          example: w45
                      poster_sizes:
                        type: array
                        items:
                          type: string
                          example: w92
                      profile_sizes:
                        type: array
                        items:
                          type: string
                          example: w45
                      still_sizes:
                        type: array
                        items:
                          type: string
                          example: w92
                    required:
                      - base_url
                      - secure_base_url
                      - backdrop_sizes
                      - logo_sizes
                      - poster_sizes
                      - profile_sizes
                      - still_sizes
                  change_keys:
                    type: array
                    items:
                      type: string
                      example: adult
                required:
                  - images
                  - change_keys
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/countries:
    get:
      summary: Countries
      description: Get the list of countries (ISO 3166-1 tags) used throughout TMDB.
      operationId: ConfigurationCountries
      tags:
        - Configuration
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/jobs:
    get:
      summary: Jobs
      description: Get the list of the jobs and departments we use on TMDB.
      operationId: ConfigurationJobs
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
                example:
                  - department: Actors
                    jobs:
                      - Actor
                      - Cameo
                      - Special Guest
                      - Voice
                  - department: Directing
                    jobs:
                      - Director
                      - Other
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/languages:
    get:
      summary: Languages
      description: Get the list of languages (ISO 639-1 tags) used throughout TMDB.
      operationId: ConfigurationLanguages
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
                example:
                  - iso_639_1: en
                    english_name: English
                    name: English
                  - iso_639_1: eo
                    english_name: Esperanto
                    name: Esperanto
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/primary_translations:
    get:
      summary: Primary Translations
      description: Get a list of the officially supported translations on TMDB.
      operationId: ConfigurationPrimaryTranslations
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - en-GB
                  - en-US
                  - eo-EO
        '401':
          $ref: '#/components/responses/Unauthorized'
  /configuration/timezones:
    get:
      summary: Timezones
      description: Get the list of timezones used throughout TMDB.
      operationId: ConfigurationTimezones
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: false
                  properties:
                    iso_3166_1:
                      type: string
                      description: ISO 3166-1 tag
                      minLength: 2
                      maxLength: 2
                      pattern: '^[A-Z]{2}$'
                    zones:
                      type: array
                      items:
                        type: string
                  required:
                    - iso_3166_1
                    - zones
                example:
                  - iso_3166_1: ES
                    zones:
                      - Europe/Madrid
                      - Africa/Ceuta
                      - Atlantic/Canary
                  - iso_3166_1: GB
                    zones:
                      - Europe/London
        '401':
          $ref: '#/components/responses/Unauthorized'
  /genre/movie/list:
    get:
      summary: Movie List
      description: Get the list of official genres for movies.
      operationId: GenreMovieList
      tags:
        - Genre
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
                example:
                  - id: 28
                    name: Action
        '401':
          $ref: '#/components/responses/Unauthorized'
  /genre/tv/list:
    get:
      summary: TV List
      description: Get the list of official genres for TV shows.
      operationId: GenreTvList
      tags:
        - Genre
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Object'
                example:
                  - id: 10759
                    name: Action & Adventure
        '401':
          $ref: '#/components/responses/Unauthorized'
  '/keyword/{keyword_id}':
    get:
      summary: Details
      operationId: KeywordDetails
      tags:
        - Keywords
      parameters:
        - $ref: '#/components/parameters/KeywordID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
              example:
                id: 1701
                name: hero
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/keyword/{keyword_id}/movies':
    get:
      summary: Movies
      description: 'This method is deprecated, you should use `/discover/movie` instead.'
      operationId: KeywordMovies
      tags:
        - Keywords
      parameters:
        - $ref: '#/components/parameters/KeywordID'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                    example: 1701
                    default: 0
                  page:
                    type: integer
                    format: int32
                    minimum: 1
                    maximum: 500
                    example: 1
                    default: 0
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/MovieBase'
                    example:
                      - adult: false
                        backdrop_path: /3CxUndGhUcZdt1Zggjdb2HkLLQX.jpg
                        genre_ids:
                          - 28
                        id: 640146
                        original_language: en
                        original_title: 'Ant-Man and the Wasp: Quantumania'
                        overview: 'Das Superhelden-Duo Scott Lang und Hope Van Dyne erkundet zusammen mit Hopes Eltern Hank Pym und Janet Van Dyne das Quantenreich, interagiert mit seltsamen neuen Kreaturen und begibt sich auf ein Abenteuer, das sie über die Grenzen dessen hinaustreiben wird, was sie für möglich gehalten haben.'
                        popularity: 9200.005
                        poster_path: /nA5otwVxAfpBP4PVgeuBk3qHcLY.jpg
                        release_date: 2023-02-15T00:00:00.000Z
                        title: 'Ant-Man and the Wasp: Quantumania'
                        video: false
                        vote_average: 6.5
                        vote_count: 2079
                  total_pages:
                    type: integer
                    format: int32
                    minimum: 1
                    maximum: 500
                    example: 11
                    default: 0
                  total_results:
                    type: integer
                    format: int32
                    minimum: 0
                    example: 211
                    default: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      deprecated: true
components:
  parameters:
    IncludeAdult:
      in: query
      name: include_adult
      schema:
        type: boolean
        default: false
    KeywordID:
      in: path
      name: keyword_id
      schema:
        type: integer
        format: int32
      required: true
      description: The keyword ID.
    LanguageParam:
      in: query
      name: language
      schema:
        type: string
        minLength: 2
        maxLength: 5
        pattern: '^([a-z]{2})-([A-Z]{2})$'
        default: en-US
      description: Pass a ISO 639-1 value to display translated data for the fields that support it.
    Page:
      in: query
      name: page
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 1
  responses:
    NotFound:
      description: The server can not find the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - success: false
              status_code: 34
              status_message: The resource you requested could not be found.
    Unauthorized:
      description: Authorization information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            - success: false
              status_code: 7
              status_message: 'Invalid API key: You must be granted a valid key.'
  schemas:
    Country:
      type: object
      additionalProperties: false
      properties:
        iso_3166_1:
          type: string
          description: ISO 3166-1 tag
          minLength: 2
          maxLength: 2
          pattern: '^[A-Z]{2}$'
          example: AD
        english_name:
          type: string
          example: Andorra
        native_name:
          type: string
          example: Andorra
      required:
        - iso_3166_1
        - english_name
    Department:
      type: object
      additionalProperties: false
      properties:
        department:
          type: string
          description: The name of the department
        jobs:
          type: array
          items:
            type: string
      required:
        - department
        - jobs
    Error:
      type: object
      properties:
        success:
          type: boolean
        status_code:
          type: integer
          format: int32
          minimum: 1
          maximum: 47
        status_message:
          type: string
      required:
        - success
        - status_code
        - status_message
    Language:
      type: object
      additionalProperties: false
      properties:
        iso_639_1:
          type: string
          description: ISO 3166-1 tag
          minLength: 2
          maxLength: 2
          pattern: '^[a-z]{2}$'
        english_name:
          type: string
        name:
          type: string
      required:
        - iso_639_1
        - english_name
    MovieBase:
      type: object
      properties:
        id:
          type: integer
          default: 0
        title:
          type: string
        original_language:
          type: string
        original_title:
          type: string
        adult:
          type: boolean
          default: false
        backdrop_path:
          type: string
        genre_ids:
          type: array
          items:
            type: integer
            format: int32
            default: 0
        overview:
          type: string
        popularity:
          type: number
        poster_path:
          type: string
        release_date:
          type: string
        video:
          type: boolean
          default: true
        vote_average:
          type: number
        vote_count:
          type: integer
      required:
        - id
        - title
        - original_language
        - original_title
    Object:
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
      required:
        - id
        - name
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
