openapi: 3.1.0
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.32.26
servers:
  - url: https://api.themoviedb.org/3
    description: Main (production) server
  - url: https://api.themoviedb.localhost
    description: Internal staging server for testing
security:
  - bearerAuth: []
tags:
  - name: Collections
    description: Collection details.
  - name: Companies
    description: Company details.
  - name: Configuration
    description: The configuration methods are useful to get the static lists of data we use throughout the database.
  - name: Genres
    description: Official genres for movies and TV shows.
  - name: Keywords
    description: Keyword details.
  - name: Movie Lists
    description: Lists of movies currently in theatres, popular movies, movies ordered by rating or upcoming movies.
  - name: Movies
    description: Movie credits, keywords or similar movies.
  - name: Networks
    description: TV network details.
  - name: Search
    description: Search for collection, companies, keywords, movies, people or TV shows.
paths:
  /collection/{collection_id}:
    get:
      summary: Get collection details by ID.
      operationId: CollectionDetails
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/CollectionID'
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
              example:
                id: 1241
                name: Harry Potter Collection
                poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
                backdrop_path: /hWK8gTH2riuv65Ej43hPSeE16Mu.jpg
                overview: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
                parts:
                  - adult: false
                    backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 671
                    media_type: movie
                    original_language: en
                    original_title: Harry Potter and the Philosopher's Stone
                    overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
                    popularity: 203.037
                    poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
                    release_date: '2001-11-16'
                    title: Harry Potter and the Philosopher's Stone
                    video: false
                    vote_average: 7.914
                    vote_count: 26490
                  - adult: false
                    backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 672
                    media_type: movie
                    original_language: en
                    original_title: Harry Potter and the Chamber of Secrets
                    overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
                    popularity: 157.67
                    poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
                    release_date: '2002-11-13'
                    title: Harry Potter and the Chamber of Secrets
                    video: false
                    vote_average: 7.7
                    vote_count: 21775
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /company/{company_id}:
    get:
      summary: Details
      description: Get the company details by ID.
      operationId: CompanyDetails
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                id: 1
                name: Lucasfilm Ltd.
                origin_country: US
                logo_path: /eDWGeg5tdVNcI8aBaaJ21bEBtFa.png
                headquarters: San Francisco, California
                homepage: https://www.lucasfilm.com
                description: ''
                parent_company: ''
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/countries:
    get:
      summary: Countries
      description: Get the list of countries (ISO 3166-1 tags) used throughout TMDB.
      operationId: ConfigurationCountries
      tags:
        - Configuration
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
                example:
                  - iso_3166_1: GB
                    english_name: United Kingdom
                    native_name: United Kingdom
                  - iso_3166_1: US
                    english_name: United States of America
                    native_name: United States
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/jobs:
    get:
      summary: Jobs
      description: Get the list of the jobs and departments we use on TMDB.
      operationId: ConfigurationJobs
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
                example:
                  - department: Actors
                    jobs:
                      - Actor
                      - Cameo
                      - Special Guest
                      - Voice
                  - department: Directing
                    jobs:
                      - Director
                      - Other
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/languages:
    get:
      summary: Languages
      description: Get the list of languages (ISO 639-1 tags) used throughout TMDB.
      operationId: ConfigurationLanguages
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
                example:
                  - iso_639_1: en
                    english_name: English
                    name: English
                  - iso_639_1: eo
                    english_name: Esperanto
                    name: Esperanto
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/primary_translations:
    get:
      summary: Primary Translations.
      description: Get a list of the officially supported translations on TMDB.
      operationId: ConfigurationPrimaryTranslations
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - en-GB
                  - en-US
                  - eo-EO
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/timezones:
    get:
      summary: Timezones
      description: Get the list of timezones used throughout TMDB.
      operationId: ConfigurationTimezones
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryWithTimezones'
                example:
                  - iso_3166_1: ES
                    zones:
                      - Europe/Madrid
                      - Africa/Ceuta
                      - Atlantic/Canary
                  - iso_3166_1: GB
                    zones:
                      - Europe/London
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /genre/movie/list:
    get:
      summary: Movie List
      description: Get the list of official genres for movies.
      operationId: GenreMovieList
      tags:
        - Genres
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreList'
              example:
                genres:
                  - id: 12
                    name: Adventure
                  - id: 14
                    name: Fantasy
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /genre/tv/list:
    get:
      summary: TV List
      description: Get the list of official genres for TV shows.
      operationId: GenreTvList
      tags:
        - Genres
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreList'
              example:
                genres:
                  - id: 10759
                    name: Action & Adventure
                  - id: 10765
                    name: Sci-Fi & Fantasy
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /keyword/{keyword_id}:
    get:
      summary: Details
      description: '---'
      operationId: KeywordDetails
      tags:
        - Keywords
      parameters:
        - $ref: '#/components/parameters/KeywordID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseObject'
              example:
                id: 1701
                name: hero
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/now_playing:
    get:
      summary: Now Playing
      description: |
        Get a list of movies that are currently in theatres.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieNowPlayingList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPageWithDates'
              examples:
                MovieListPageWithDatesExample:
                  $ref: '#/components/examples/MovieListPageWithDatesExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/popular:
    get:
      summary: Popular
      description: |
        Get a list of movies ordered by popularity.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MoviePopularList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/top_rated:
    get:
      summary: Top Rated
      description: |
        Get a list of movies ordered by rating.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieTopRatedList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/upcoming:
    get:
      summary: Upcoming
      description: |
        Get a list of movies that are being released soon.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieUpcomingList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPageWithDates'
              examples:
                MovieListPageWithDatesExample:
                  $ref: '#/components/examples/MovieListPageWithDatesExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/credits:
    get:
      summary: Credits
      description: Get the credits of a movie.
      operationId: MovieCredits
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsWithID'
              example:
                id: 671
                cast:
                  - adult: false
                    gender: 2
                    id: 10980
                    known_for_department: Acting
                    name: Daniel Radcliffe
                    original_name: Daniel Radcliffe
                    popularity: 7.6526
                    profile_path: /iPg0J9UzAlPj1fLEJNllpW9IhGe.jpg
                    cast_id: 27
                    character: Harry Potter
                    credit_id: 52fe4267c3a36847f801be91
                    order: 0
                  - adult: false
                    gender: 2
                    id: 10989
                    known_for_department: Acting
                    name: Rupert Grint
                    original_name: Rupert Grint
                    popularity: 2.3248
                    profile_path: /q2KZZ0ltTEl7Sf8volNFV1JDEP4.jpg
                    cast_id: 37
                    character: Ron Weasley
                    credit_id: 52fe4267c3a36847f801beb9
                    order: 1
                  - adult: false
                    gender: 1
                    id: 10990
                    known_for_department: Acting
                    name: Emma Watson
                    original_name: Emma Watson
                    popularity: 5.1613
                    profile_path: /A14lLCZYDhfYdBa0fFRpwMDiwRN.jpg
                    cast_id: 49
                    character: Hermione Granger
                    credit_id: 531736ea92514138c00010a3
                    order: 2
                crew:
                  - adult: false
                    gender: 2
                    id: 10965
                    known_for_department: Directing
                    name: Chris Columbus
                    original_name: Chris Columbus
                    popularity: 2.5737
                    profile_path: /yCyEz90NqjEXKZ7HYcEhDXlLlPc.jpg
                    credit_id: 52fe4267c3a36847f801be05
                    department: Directing
                    job: Director
                  - adult: false
                    gender: 1
                    id: 10966
                    known_for_department: Writing
                    name: J.K. Rowling
                    original_name: J.K. Rowling
                    popularity: 0.7377
                    profile_path: /8VDx3K8NBGJDEWr4KdsGsuT8wuj.jpg
                    credit_id: 52fe4267c3a36847f801be0b
                    department: Writing
                    job: Novel
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/keywords:
    get:
      summary: Keywords
      description: Get the keywords for a movie.
      operationId: MovieKeywords
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsWithID'
              example:
                id: 671
                keywords:
                  - id: 616
                    name: witch
                  - id: 818
                    name: based on novel or book
                  - id: 177912
                    name: wizard
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/recommendations:
    get:
      summary: Recommendations
      operationId: MovieRecommendations
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/similar:
    get:
      summary: Similar
      description: |
        Get the similar movies based on genres and keywords.

        > ### **Note**
        > This method only looks for other items based on genres and plot keywords. As such, the results found here
        > are not always going to be perfect. Use it with that in mind.
      operationId: MovieSimilar
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /network/{network_id}:
    get:
      summary: Details
      description: Get the TV network details by ID.
      operationId: NetworkDetails
      tags:
        - Networks
      parameters:
        - $ref: '#/components/parameters/NetworkID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                id: 49
                name: HBO
                origin_country: US
                logo_path: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                headquarters: New York City, New York
                homepage: https://www.hbo.com
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/collection:
    get:
      summary: Collection
      description: Search for collections by their original, translated and alternative names.
      operationId: SearchCollection
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListPage'
              example:
                page: 1
                results:
                  - id: 1241
                    name: Harry Potter Collection
                    adult: false
                    original_language: en
                    original_name: Harry Potter Collection
                    overview: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
                    poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
                    backdrop_path: /xN6SBJVG8jqqKQrgxthn3J2m49S.jpg
                total_pages: 1
                total_results: 1
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/company:
    get:
      summary: Company
      description: Search for companies by their original and alternative names.
      operationId: SearchCompany
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListPage'
              example:
                page: 1
                results:
                  - id: 3268
                    name: HBO
                    origin_country: US
                    logo_path: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                  - id: 14914
                    name: HBO Documentary Films
                    origin_country: US
                    logo_path: /1RZBWz53SpHUTLpRcM8BGv2plIP.png
                total_pages: 2
                total_results: 22
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/keyword:
    get:
      summary: Keyword
      description: Search for keywords by their name.
      operationId: SearchKeyword
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseObjectListPage'
              example:
                page: 1
                results:
                  - id: 262419
                    name: lost
                total_pages: 5
                total_results: 84
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/movie:
    get:
      summary: Movie
      description: Search for movies by their original, translated and alternative titles.
      operationId: SearchMovie
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/PrimaryReleaseYear'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/Year'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/multi:
    get:
      summary: Multi
      description: Use multi search when you want to search for movies, TV shows and people in a single request.
      operationId: SearchMulti
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListPage'
              example:
                page: 1
                results:
                  - adult: false
                    backdrop_path: /aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg
                    id: 11
                    title: Star Wars
                    original_language: en
                    original_title: Star Wars
                    overview: Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.
                    poster_path: /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
                    media_type: movie
                    genre_ids:
                      - 12
                    popularity: 78.047
                    release_date: '1977-05-25'
                    video: false
                    vote_average: 8.208
                    vote_count: 18528
                total_pages: 11
                total_results: 201
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/person:
    get:
      summary: Person
      description: Search for people by their name and also known as names.
      operationId: SearchPerson
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListPage'
              example:
                page: 1
                results:
                  - adult: false
                    gender: 2
                    id: 31
                    known_for_department: Acting
                    name: Tom Hanks
                    original_name: Tom Hanks
                    popularity: 84.631
                    profile_path: /xndWFsBlClOJFRdhSt4NBwiPq2o.jpg
                    known_for:
                      - adult: false
                        backdrop_path: /3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg
                        id: 13
                        title: Forrest Gump
                        original_language: en
                        original_title: Forrest Gump
                        overview: A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.
                        poster_path: /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg
                        media_type: movie
                        genre_ids:
                          - 35
                        popularity: 67.209
                        release_date: '1994-06-23'
                        video: false
                        vote_average: 8.481
                        vote_count: 24525
                total_pages: 1
                total_results: 1
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/tv:
    get:
      summary: TV
      description: Search for TV shows by their original, translated and also known as names.
      operationId: SearchTV
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/FirstAirDateYear'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Year'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvListPage'
              examples:
                TvListPageExample:
                  $ref: '#/components/examples/TvListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
components:
  schemas:
    BaseObject:
      type: object
      description: The most generic type of item.
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int32
          description: The identifier of the item.
          example: 12
        name:
          type: string
          example: Adventure
    CollectionBase:
      description: A basic movie collection model.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          required:
            - backdrop_path
            - poster_path
          properties:
            poster_path:
              type: string
            backdrop_path:
              type: string
          example:
            id: 1241
            name: Harry Potter Collection
            poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
            backdrop_path: /xN6SBJVG8jqqKQrgxthn3J2m49S.jpg
    MovieListItemWithMediaType:
      description: A movie item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/MovieListItem'
    MediaType:
      type: object
      description: A media type
      discriminator:
        propertyName: media_type
        mapping:
          movie: '#/components/schemas/MovieListItemWithMediaType'
          person: '#/components/schemas/PersonListItemWithMediaType'
          tv: '#/components/schemas/TvListItemWithMediaType'
      required:
        - media_type
      properties:
        media_type:
          type: string
          enum:
            - movie
            - person
            - tv
          x-enum-varnames:
            - MediaTypeMovie
            - MediaTypePerson
            - MediaTypeTv
          x-go-type-name: MediaType
    CountryCode:
      type: string
      description: |
        [ISO 3166-1 alpha-2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      minLength: 2
      maxLength: 2
      pattern: ^[A-Z]{2}$
    TvBase:
      description: A base TV object.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          required:
            - original_language
            - original_name
          properties:
            adult:
              type: boolean
            backdrop_path:
              type: string
            first_air_date:
              type: string
              format: date
            origin_country:
              type: array
              items:
                $ref: '#/components/schemas/CountryCode'
            original_language:
              type: string
            original_name:
              type: string
            overview:
              type: string
            popularity:
              type: number
              format: float
            poster_path:
              type: string
            vote_average:
              type: number
              format: float
            vote_count:
              type: integer
              format: int32
    TvListItem:
      description: A basic TV item for list representation.
      allOf:
        - $ref: '#/components/schemas/TvBase'
        - type: object
          properties:
            genre_ids:
              type: array
              items:
                type: integer
                format: int32
    TvListItemWithMediaType:
      description: A basic TV item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/TvListItem'
    PersonListItem:
      description: A basic person item for list representation.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            original_name:
              type: string
            adult:
              type: boolean
            gender:
              type: integer
              format: int32
            known_for_department:
              type: string
            popularity:
              type: number
              format: float
            profile_path:
              type: string
            known_for:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/MovieListItemWithMediaType'
                  - $ref: '#/components/schemas/TvListItemWithMediaType'
    PersonListItemWithMediaType:
      description: A person item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/PersonListItem'
    MovieBase:
      type: object
      description: A base movie object.
      required:
        - id
        - title
        - original_language
        - original_title
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        original_language:
          type: string
        original_title:
          type: string
        adult:
          type: boolean
        backdrop_path:
          type: string
        overview:
          type: string
        popularity:
          type: number
          format: float
        poster_path:
          type: string
        release_date:
          type: string
          format: date
        video:
          type: boolean
        vote_average:
          type: number
          format: float
        vote_count:
          type: integer
          format: int32
    MovieListItem:
      description: A basic movie item for list representation.
      allOf:
        - $ref: '#/components/schemas/MovieBase'
        - type: object
          properties:
            genre_ids:
              type: array
              items:
                type: integer
                format: int32
    Collection:
      description: Detail information about a collection.
      allOf:
        - $ref: '#/components/schemas/CollectionBase'
        - type: object
          required:
            - overview
            - parts
          properties:
            overview:
              type: string
            parts:
              type: array
              items:
                $ref: '#/components/schemas/MovieListItemWithMediaType'
    Error:
      type: object
      description: Error model
      additionalProperties: false
      required:
        - success
        - status_code
        - status_message
      properties:
        success:
          type: boolean
          example: false
        status_code:
          type: integer
          format: int32
          minimum: 1
          maximum: 47
          example: 1
        status_message:
          type: string
          example: Success.
    OrganizationBase:
      description: Basic information about an organization.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            origin_country:
              $ref: '#/components/schemas/CountryCode'
            logo_path:
              type: string
    Organization:
      description: An organization such as a company or a TV network.
      allOf:
        - $ref: '#/components/schemas/OrganizationBase'
        - type: object
          properties:
            headquarters:
              type: string
            homepage:
              type: string
              format: uri
    Company:
      description: A production company.
      allOf:
        - $ref: '#/components/schemas/Organization'
        - type: object
          properties:
            description:
              type: string
            parent_company:
              type: string
    Country:
      type: object
      description: A country represented by the two-letter country code with english and native name.
      additionalProperties: false
      required:
        - iso_3166_1
        - english_name
      properties:
        iso_3166_1:
          $ref: '#/components/schemas/CountryCode'
        english_name:
          type: string
        native_name:
          type: string
    Department:
      type: object
      description: Department with jobs
      additionalProperties: false
      required:
        - department
        - jobs
      properties:
        department:
          type: string
          description: The name of the department
        jobs:
          type: array
          description: A list of jobs within the department
          items:
            type: string
    Language:
      type: object
      description: A language represented by the ISO 639-1 tag with the english and native name of this language.
      additionalProperties: false
      required:
        - iso_639_1
        - english_name
      properties:
        iso_639_1:
          type: string
          description: ISO 639-1 tag
          minLength: 2
          maxLength: 2
          pattern: ^[a-z]{2}$
        english_name:
          type: string
          description: English name of the language
        name:
          type: string
          description: Native name of the language
    CountryWithTimezones:
      type: object
      description: A country represented by the two-letter country code with a list of timezones.
      additionalProperties: false
      required:
        - iso_3166_1
        - zones
      properties:
        iso_3166_1:
          $ref: '#/components/schemas/CountryCode'
        zones:
          type: array
          items:
            type: string
    GenreList:
      type: object
      description: A list of genres
      required:
        - genres
      properties:
        genres:
          type: array
          items:
            $ref: '#/components/schemas/BaseObject'
          example:
            - id: 12
              name: Adventure
            - id: 14
              name: Fantasy
    ResultPage:
      type: object
      description: A base result page.
      required:
        - page
        - total_pages
        - total_results
      properties:
        page:
          description: The current page number.
          type: integer
          format: int32
          minimum: 1
          maximum: 500
        total_pages:
          description: The number of total pages.
          type: integer
          format: int32
          minimum: 1
          maximum: 500
        total_results:
          description: The number of total results.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
      example:
        page: 1
        total_pages: 1
        total_results: 1
    MovieListPage:
      description: A result page used for a list of movies ordered by popularity or rating.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/MovieListItem'
    MovieListPageWithDates:
      description: A result page with min and max dates used for a list of movies that are currently in theatres or upcoming movies.
      allOf:
        - type: object
          properties:
            dates:
              type: object
              properties:
                maximum:
                  type: string
                  format: date
                minimum:
                  type: string
                  format: date
              required:
                - maximum
                - minimum
          required:
            - dates
        - $ref: '#/components/schemas/MovieListPage'
    Creator:
      description: The creator of a TV show.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            credit_id:
              type: string
            original_name:
              type: string
            gender:
              type: integer
              format: int32
            profile_path:
              type: string
    CreditBase:
      description: A base model for a member of the cast or the crew.
      allOf:
        - $ref: '#/components/schemas/Creator'
        - type: object
          properties:
            adult:
              type: boolean
            known_for_department:
              type: string
            popularity:
              type: number
              format: float
    CastMember:
      description: A member of the cast of a movie or a TV show.
      allOf:
        - $ref: '#/components/schemas/CreditBase'
        - type: object
          properties:
            cast_id:
              type: integer
              format: int32
            character:
              type: string
            order:
              type: integer
              format: int32
    CrewMember:
      description: A member of the crew of a movie or a TV show.
      allOf:
        - $ref: '#/components/schemas/CreditBase'
        - type: object
          properties:
            department:
              type: string
            job:
              type: string
    Credits:
      type: object
      description: The credits (cast and crew) of a movie or a TV show.
      required:
        - cast
        - crew
      properties:
        cast:
          type: array
          items:
            $ref: '#/components/schemas/CastMember'
        crew:
          type: array
          items:
            $ref: '#/components/schemas/CrewMember'
    CreditsWithID:
      description: The credits (cast and crew) of a movie or a TV show and the identifier of this item.
      allOf:
        - type: object
          properties:
            id:
              type: integer
              format: int32
        - $ref: '#/components/schemas/Credits'
    KeywordsWithID:
      type: object
      description: A list of keywords with the movie id.
      required:
        - keywords
      properties:
        id:
          type: integer
          format: int32
        keywords:
          description: A list of keyword for the movie.
          type: array
          items:
            $ref: '#/components/schemas/BaseObject'
    CollectionListItem:
      description: An item of a collection search result page.
      allOf:
        - $ref: '#/components/schemas/CollectionBase'
        - type: object
          properties:
            adult:
              type: boolean
              example: false
            original_language:
              type: string
              example: en
            original_name:
              type: string
              example: Harry Potter Collection
            overview:
              type: string
              example: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
          required:
            - original_language
            - original_name
    CollectionListPage:
      description: A result page for a search for collections.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/CollectionListItem'
          required:
            - results
    CompanyListPage:
      description: A result page of a search for companies.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationBase'
          required:
            - results
    BaseObjectListPage:
      description: A result page for basic objects like genres or keywords.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/BaseObject'
    MultiListPage:
      description: A result page used for a list of movies, people or TV shows.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/MovieListItemWithMediaType'
                  - $ref: '#/components/schemas/PersonListItemWithMediaType'
                  - $ref: '#/components/schemas/TvListItemWithMediaType'
    PersonListPage:
      description: A result page used for a list of people.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/PersonListItem'
          required:
            - results
    TvListPage:
      description: A result page used for a list of TV shows.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/TvListItem'
          required:
            - results
  parameters:
    CollectionID:
      in: path
      name: collection_id
      description: The collection ID.
      schema:
        type: integer
        format: int32
      required: true
    LanguageParam:
      in: query
      name: language
      description: '`ISO-639-1`-`ISO-3166-1` code'
      schema:
        type: string
        minLength: 2
        maxLength: 5
        pattern: ^([a-z]{2})(-([A-Z]{2}))?$
        default: en-US
        example: eo
    CompanyID:
      in: path
      name: company_id
      description: The company ID.
      required: true
      schema:
        type: integer
        format: int32
    KeywordID:
      in: path
      name: keyword_id
      description: The keyword ID.
      required: true
      schema:
        type: integer
        format: int32
    Page:
      in: query
      name: page
      description: The page number to return.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 1
    Region:
      in: query
      name: region
      schema:
        type: string
        minLength: 2
        maxLength: 2
        pattern: ^([A-Z]{2})$
      description: '`ISO-3166-1` code'
    MovieID:
      in: path
      name: movie_id
      description: The movie ID.
      required: true
      schema:
        type: integer
        format: int32
    NetworkID:
      in: path
      name: network_id
      description: The TV network ID.
      required: true
      schema:
        type: integer
        format: int32
    Query:
      in: query
      name: query
      description: The search string.
      required: true
      schema:
        type: string
    IncludeAdult:
      in: query
      name: include_adult
      schema:
        type: boolean
        default: false
      description: Include adult items.
    PrimaryReleaseYear:
      in: query
      name: primary_release_year
      description: Search only the primary release year.
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
    Year:
      in: query
      name: year
      description: Search for all release dates or air dates.
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
    FirstAirDateYear:
      in: query
      name: first_air_date_year
      description: 'Search only the first air date. Valid values are: 1000..9999'
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    401Unauthorized:
      description: Authorization information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 7
            status_message: 'Invalid API key: You must be granted a valid key.'
    404NotFound:
      description: The server can not find the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 34
            status_message: The resource you requested could not be found.
    429TooManyRequests:
      description: Too many requests in a given amount of time (“rate limiting”).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 25
            status_message: Your request count is over the allowed limit.
    400InvalidPage:
      description: Invalid page number
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 22
            status_message: 'Invalid page: Pages start at 1 and max at 500. They are expected to be an integer.'
  examples:
    MovieListPageWithDatesExample:
      summary: A sample of a movie list page with a minimum and a maximum date.
      description: A sample of a movie list page with a minimum and a maximum date.
      value:
        dates:
          minimum: '2001-11-16'
          maximum: '2002-11-13'
        page: 1
        results:
          - adult: false
            backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
            genre_ids:
              - 12
              - 14
            id: 671
            original_language: en
            original_title: Harry Potter and the Philosopher's Stone
            overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
            popularity: 203.037
            poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
            release_date: '2001-11-16'
            title: Harry Potter and the Philosopher's Stone
            video: false
            vote_average: 7.914
            vote_count: 26490
          - adult: false
            backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
            genre_ids:
              - 12
              - 14
            id: 672
            original_language: en
            original_title: Harry Potter and the Chamber of Secrets
            overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
            popularity: 157.67
            poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
            release_date: '2002-11-13'
            title: Harry Potter and the Chamber of Secrets
            video: false
            vote_average: 7.7
            vote_count: 21775
        total_pages: 2
        total_results: 39
    MovieListPageExample:
      summary: A sample of a movie list page.
      description: A sample of a movie list page.
      value:
        page: 1
        results:
          - adult: false
            backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
            genre_ids:
              - 12
              - 14
            id: 671
            original_language: en
            original_title: Harry Potter and the Philosopher's Stone
            overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
            popularity: 203.037
            poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
            release_date: '2001-11-16'
            title: Harry Potter and the Philosopher's Stone
            video: false
            vote_average: 7.914
            vote_count: 26490
          - adult: false
            backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
            genre_ids:
              - 12
              - 14
            id: 672
            original_language: en
            original_title: Harry Potter and the Chamber of Secrets
            overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
            popularity: 157.67
            poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
            release_date: '2002-11-13'
            title: Harry Potter and the Chamber of Secrets
            video: false
            vote_average: 7.7
            vote_count: 21775
        total_pages: 2
        total_results: 39
    TvListPageExample:
      summary: A sample of a TV show list page.
      description: A sample of a TV show list page.
      value:
        page: 1
        results:
          - adult: false
            backdrop_path: /8VWgyQjExeMgeg6Qzv6agduMU1A.jpg
            genre_ids:
              - 18
              - 10759
              - 10765
            id: 121
            original_language: en
            original_name: Doctor Who
            overview: The adventures of The Doctor, a time-traveling humanoid alien known as a Time Lord. He explores the universe in his TARDIS, a sentient time-traveling spaceship. Its exterior appears as a blue British police box, which was a common sight in Britain in 1963 when the series first aired. Along with a succession of companions, The Doctor faces a variety of foes while working to save civilizations, help ordinary people, and right many wrongs.
            popularity: 59.0192
            poster_path: /xinqAmYrZ1TEwowcQhgTkZVtVE0.jpg
            release_date: '1963-11-23'
            name: Doctor Who
            vote_average: 7.9
            vote_count: 672
          - adult: false
            backdrop_path: /vcFW09U4834DyFOeRZpsx9x1D3S.jpg
            genre_ids:
              - 18
              - 10759
              - 10765
            id: 57243
            original_language: en
            original_name: Doctor Who
            overview: 'The Doctor is a Time Lord: a 900 year old alien with 2 hearts, part of a gifted civilization who mastered time travel. The Doctor saves planets for a living—more of a hobby actually, and the Doctor''s very, very good at it.'
            popularity: 69.7645
            poster_path: /w8enSKCf6Zm0topeQ2XPccDqsqp.jpg
            release_date: '2005-03-26'
            name: Doctor Who
            vote_average: 7.6
            vote_count: 3220
        total_pages: 2
        total_results: 33
