openapi: 3.1.0
info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.32.32
servers:
  - url: https://api.themoviedb.org/3
    description: Main (production) server
  - url: https://api.themoviedb.localhost
    description: Internal staging server for testing
security:
  - bearerAuth: []
tags:
  - name: Collections
    description: Collection details.
  - name: Companies
    description: Company details and images.
  - name: Configuration
    description: The configuration methods are useful to get the static lists of data we use throughout the database.
  - name: Genres
    description: Official genres for movies and TV shows.
  - name: Keywords
    description: Keyword details.
  - name: Movie Lists
    description: Lists of movies currently in theatres, popular movies, movies ordered by rating or upcoming movies.
  - name: Movies
    description: Movie details, credits, keywords, recommendations or similar movies.
  - name: Networks
    description: TV network details.
  - name: Search
    description: Search for collection, companies, keywords, movies, people or TV shows.
  - name: TV Series
    description: TV series details, credits, recommendations or similar TV shows.
paths:
  /collection/{collection_id}:
    get:
      summary: Details
      description: Get collection details by ID.
      operationId: CollectionDetails
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/CollectionID'
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
              example:
                id: 1241
                name: Harry Potter Collection
                poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
                backdrop_path: /hWK8gTH2riuv65Ej43hPSeE16Mu.jpg
                overview: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
                parts:
                  - adult: false
                    backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 671
                    media_type: movie
                    original_language: en
                    original_title: Harry Potter and the Philosopher's Stone
                    overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
                    popularity: 203.037
                    poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
                    release_date: '2001-11-16'
                    title: Harry Potter and the Philosopher's Stone
                    video: false
                    vote_average: 7.914
                    vote_count: 26490
                  - adult: false
                    backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 672
                    media_type: movie
                    original_language: en
                    original_title: Harry Potter and the Chamber of Secrets
                    overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
                    popularity: 157.67
                    poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
                    release_date: '2002-11-13'
                    title: Harry Potter and the Chamber of Secrets
                    video: false
                    vote_average: 7.7
                    vote_count: 21775
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /company/{company_id}:
    get:
      summary: Details
      description: Get the company details by ID.
      operationId: CompanyDetails
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
              example:
                id: 1
                name: Lucasfilm Ltd.
                origin_country: US
                logo_path: /eDWGeg5tdVNcI8aBaaJ21bEBtFa.png
                headquarters: San Francisco, California
                homepage: https://www.lucasfilm.com
                description: ''
                parent_company: ''
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /company/{company_id}/images:
    get:
      summary: Images
      description: |
        Get the company logos by id.

        > ### **Note**
        > There are two image formats that are supported for companies, PNG's and SVG's.
        > You can see which type the original file is by looking at the `file_type` field.
        > We prefer SVG's as they are resolution independent and as such,
        > the width and height are only there to reflect the original asset that was uploaded.
        > An SVG can be scaled properly beyond those dimensions if you call them as a PNG.
        >
        > For more information about how SVG's and PNG's can be used, take a read through
        > [this document](https://developer.themoviedb.org/docs/image-basics).
      operationId: CompanyImages
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  logos:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrganizationLogo'
              example:
                id: 1
                logos:
                  - aspect_ratio: 2.97979797979798
                    file_path: /o86DbpburjxrqAzEDhXZcyE8pDb.png
                    height: 99
                    id: 5aa080d6c3a3683fea00011e
                    file_type: .svg
                    vote_average: 5.384
                    vote_count: 2
                    width: 295
                  - aspect_ratio: 3.03951367781155
                    file_path: /tlVSws0RvvtPBwViUyOFAO0vcQS.png
                    height: 329
                    id: 63306b352b8a430096598b3d
                    file_type: .svg
                    vote_average: 5.312
                    vote_count: 1
                    width: 1000
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/countries:
    get:
      summary: Countries
      description: Get the list of countries (ISO 3166-1 tags) used throughout TMDB.
      operationId: ConfigurationCountries
      tags:
        - Configuration
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Country'
                example:
                  - iso_3166_1: GB
                    english_name: United Kingdom
                    native_name: United Kingdom
                  - iso_3166_1: US
                    english_name: United States of America
                    native_name: United States
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/jobs:
    get:
      summary: Jobs
      description: Get the list of the jobs and departments we use on TMDB.
      operationId: ConfigurationJobs
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Department'
                example:
                  - department: Actors
                    jobs:
                      - Actor
                      - Cameo
                      - Special Guest
                      - Voice
                  - department: Directing
                    jobs:
                      - Director
                      - Other
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/languages:
    get:
      summary: Languages
      description: Get the list of languages (ISO 639-1 tags) used throughout TMDB.
      operationId: ConfigurationLanguages
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
                example:
                  - iso_639_1: en
                    english_name: English
                    name: English
                  - iso_639_1: eo
                    english_name: Esperanto
                    name: Esperanto
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/primary_translations:
    get:
      summary: Primary Translations.
      description: Get a list of the officially supported translations on TMDB.
      operationId: ConfigurationPrimaryTranslations
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                example:
                  - en-GB
                  - en-US
                  - eo-EO
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /configuration/timezones:
    get:
      summary: Timezones
      description: Get the list of timezones used throughout TMDB.
      operationId: ConfigurationTimezones
      tags:
        - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryWithTimezones'
                example:
                  - iso_3166_1: ES
                    zones:
                      - Europe/Madrid
                      - Africa/Ceuta
                      - Atlantic/Canary
                  - iso_3166_1: GB
                    zones:
                      - Europe/London
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /genre/movie/list:
    get:
      summary: Movie List
      description: Get the list of official genres for movies.
      operationId: GenreMovieList
      tags:
        - Genres
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreList'
              example:
                genres:
                  - id: 12
                    name: Adventure
                  - id: 14
                    name: Fantasy
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /genre/tv/list:
    get:
      summary: TV List
      description: Get the list of official genres for TV shows.
      operationId: GenreTvList
      tags:
        - Genres
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreList'
              example:
                genres:
                  - id: 10759
                    name: Action & Adventure
                  - id: 10765
                    name: Sci-Fi & Fantasy
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /keyword/{keyword_id}:
    get:
      summary: Details
      description: '---'
      operationId: KeywordDetails
      tags:
        - Keywords
      parameters:
        - $ref: '#/components/parameters/KeywordID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseObject'
              example:
                id: 1701
                name: hero
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/now_playing:
    get:
      summary: Now Playing
      description: |
        Get a list of movies that are currently in theatres.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieNowPlayingList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPageWithDates'
              examples:
                MovieListPageWithDatesExample:
                  $ref: '#/components/examples/MovieListPageWithDatesExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/popular:
    get:
      summary: Popular
      description: |
        Get a list of movies ordered by popularity.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MoviePopularList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/top_rated:
    get:
      summary: Top Rated
      description: |
        Get a list of movies ordered by rating.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieTopRatedList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/upcoming:
    get:
      summary: Upcoming
      description: |
        Get a list of movies that are being released soon.

        > ### **Note**
        > This call is really just a discover call behind the scenes. If you would like to tweak any of the default
        > filters head over and read about [discover](https://developer.themoviedb.org/reference/discover-movie).
      operationId: MovieUpcomingList
      tags:
        - Movie Lists
      parameters:
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPageWithDates'
              examples:
                MovieListPageWithDatesExample:
                  $ref: '#/components/examples/MovieListPageWithDatesExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}:
    get:
      summary: Details
      description: Get the top level details of a movie by ID.
      operationId: MovieDetails
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/MovieAppendToResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Movie'
              example:
                id: 671
                title: Harry Potter and the Philosopher's Stone
                original_language: en
                original_title: Harry Potter and the Philosopher's Stone
                adult: false
                backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
                belongs_to_collection:
                  id: 1241
                  name: Harry Potter Collection
                  poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
                  backdrop_path: /hWK8gTH2riuv65Ej43hPSeE16Mu.jpg
                budget: 125000000
                genres:
                  - id: 12
                    name: Adventure
                  - id: 14
                    name: Fantasy
                homepage: https://www.warnerbros.com/movies/harry-potter-and-sorcerers-stone/
                imdb_id: tt0468569
                origin_country:
                  - GB
                overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
                popularity: 203.037
                poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
                production_companies:
                  - id: 174
                    logo_path: /zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png
                    name: Warner Bros. Pictures
                    origin_country: US
                  - id: 437
                    logo_path: /nu20mtwbEIhUNnQ5NXVhHsNknZj.png
                    name: Heyday Films
                    origin_country: GB
                  - id: 436
                    logo_path: /A7WCkG3F0NFvjGCwUnclpGdIu9E.png
                    name: 1492 Pictures
                    origin_country: US
                production_countries:
                  - iso_3166_1: GB
                    name: United Kingdom
                  - iso_3166_1: US
                    name: United States of America
                release_date: '2001-11-16'
                revenue: 976475550
                runtime: 152
                spoken_languages:
                  - iso_639_1: en
                    english_name: English
                    name: English
                status: Released
                tagline: Let the magic begin.
                video: false
                vote_average: 7.914
                vote_count: 26490
                credits:
                  cast:
                    - id: 10980
                      gender: 2
                      name: Daniel Radcliffe
                      original_name: Daniel Radcliffe
                      known_for_department: Acting
                      adult: false
                      popularity: 52.373
                      profile_path: /iPg0J9UzAlPj1fLEJNllpW9IhGe.jpg
                      cast_id: 27
                      character: Harry Potter
                      credit_id: 52fe4267c3a36847f801be91
                      order: 0
                    - id: 10989
                      gender: 2
                      name: Rupert Grint
                      original_name: Rupert Grint
                      known_for_department: Acting
                      adult: false
                      popularity: 35.698
                      profile_path: /q2KZZ0ltTEl7Sf8volNFV1JDEP4.jpg
                      cast_id: 37
                      character: Ron Weasley
                      credit_id: 52fe4267c3a36847f801beb9
                      order: 1
                    - id: 10990
                      gender: 1
                      name: Emma Watson
                      original_name: Emma Watson
                      known_for_department: Acting
                      adult: false
                      popularity: 43.528
                      profile_path: /tvPPRGzAzdQFhlKzLbMO1EpuTJI.jpg
                      cast_id: 49
                      character: Hermione Granger
                      credit_id: 531736ea92514138c00010a3
                      order: 2
                  crew:
                    - id: 10965
                      gender: 2
                      name: Chris Columbus
                      original_name: Chris Columbus
                      known_for_department: Directing
                      adult: false
                      popularity: 15.78
                      profile_path: /yCyEz90NqjEXKZ7HYcEhDXlLlPc.jpg
                      credit_id: 52fe4267c3a36847f801be05
                      department: Directing
                      job: Director
                    - id: 10966
                      gender: 1
                      name: J.K. Rowling
                      original_name: J.K. Rowling
                      known_for_department: Writing
                      adult: false
                      popularity: 20.202
                      profile_path: /8VDx3K8NBGJDEWr4KdsGsuT8wuj.jpg
                      credit_id: 52fe4267c3a36847f801be0b
                      department: Writing
                      job: Novel
                    - id: 491
                      gender: 2
                      name: John Williams
                      original_name: John Williams
                      known_for_department: Sound
                      adult: false
                      popularity: 20.73
                      profile_path: /KFyMqUWeiBdP9tJcZyGWOqnrgK.jpg
                      credit_id: 52fe4267c3a36847f801be1d
                      department: Sound
                      job: Original Music Composer
                keywords:
                  keywords:
                    - id: 616
                      name: witch
                    - id: 177912
                      name: wizard
                recommendations:
                  page: 1
                  results:
                    - id: 672
                      title: Harry Potter and the Chamber of Secrets
                      original_language: en
                      original_title: Harry Potter and the Chamber of Secrets
                      overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
                      backdrop_path: /1stUIsjawROZxjiCMtqqXqgfZWC.jpg
                      poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
                      media_type: movie
                      adult: false
                      genre_ids:
                        - 12
                        - 14
                      popularity: 151.674
                      release_date: '2002-11-13'
                      video: false
                      vote_average: 7.721
                      vote_count: 21255
                    - id: 674
                      title: Harry Potter and the Goblet of Fire
                      original_language: en
                      original_title: Harry Potter and the Goblet of Fire
                      overview: When Harry Potter's name emerges from the Goblet of Fire, he becomes a competitor in a grueling battle for glory among three wizarding schools—the Triwizard Tournament. But since Harry never submitted his name for the Tournament, who did? Now Harry must confront a deadly dragon, fierce water demons and an enchanted maze only to find himself in the cruel grasp of He Who Must Not Be Named.
                      backdrop_path: /5rrGVmRUuCKVbqUu41XIWTXJmNA.jpg
                      poster_path: /fECBtHlr0RB3foNHDiCBXeg9Bv9.jpg
                      media_type: movie
                      adult: false
                      genre_ids:
                        - 12
                        - 14
                      popularity: 142.666
                      release_date: '2005-11-16'
                      video: false
                      vote_average: 7.814
                      vote_count: 20045
                  total_pages: 2
                  total_results: 40
                similar:
                  page: 1
                  results:
                    - id: 601
                      title: E.T. the Extra-Terrestrial
                      original_language: en
                      original_title: E.T. the Extra-Terrestrial
                      overview: An alien is left behind on Earth and saved by the 10-year-old Elliot who decides to keep him hidden in his home. While a task force hunts for the extra-terrestrial, Elliot, his brother, and his little sister Gertie form an emotional bond with their new friend, and try to help him find his way home.
                      backdrop_path: /zlp6WHCh44zzG4aFxQW8dmczuBH.jpg
                      poster_path: /pEKStszBzTZCvR0H4tosjqxmE7X.jpg
                      adult: false
                      genre_ids:
                        - 878
                        - 12
                        - 10751
                        - 14
                      popularity: 56.389
                      release_date: '1982-06-11'
                      video: false
                      vote_average: 7.516
                      vote_count: 10846
                    - id: 630
                      title: The Wizard of Oz
                      original_language: en
                      original_title: The Wizard of Oz
                      overview: Young Dorothy finds herself in a magical world where she makes friends with a lion, a scarecrow and a tin man as they make their way along the yellow brick road to talk with the Wizard and ask for the things they miss most in their lives. The Wicked Witch of the West is the only thing that could stop them.
                      backdrop_path: /nRsr98MFztBGm532hCVMGXV6qOp.jpg
                      poster_path: /pfAZFD7I2hxW9HCChTuAzsdE6UX.jpg
                      adult: false
                      genre_ids:
                        - 12
                        - 14
                        - 10751
                      popularity: 61.997
                      release_date: '1939-08-15'
                      video: false
                      vote_average: 7.584
                      vote_count: 5320
                  total_pages: 2
                  total_results: 40
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/credits:
    get:
      summary: Credits
      description: Get the credits of a movie.
      operationId: MovieCredits
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsWithID'
              example:
                id: 671
                cast:
                  - adult: false
                    gender: 2
                    id: 10980
                    known_for_department: Acting
                    name: Daniel Radcliffe
                    original_name: Daniel Radcliffe
                    popularity: 7.6526
                    profile_path: /iPg0J9UzAlPj1fLEJNllpW9IhGe.jpg
                    cast_id: 27
                    character: Harry Potter
                    credit_id: 52fe4267c3a36847f801be91
                    order: 0
                  - adult: false
                    gender: 2
                    id: 10989
                    known_for_department: Acting
                    name: Rupert Grint
                    original_name: Rupert Grint
                    popularity: 2.3248
                    profile_path: /q2KZZ0ltTEl7Sf8volNFV1JDEP4.jpg
                    cast_id: 37
                    character: Ron Weasley
                    credit_id: 52fe4267c3a36847f801beb9
                    order: 1
                  - adult: false
                    gender: 1
                    id: 10990
                    known_for_department: Acting
                    name: Emma Watson
                    original_name: Emma Watson
                    popularity: 5.1613
                    profile_path: /A14lLCZYDhfYdBa0fFRpwMDiwRN.jpg
                    cast_id: 49
                    character: Hermione Granger
                    credit_id: 531736ea92514138c00010a3
                    order: 2
                crew:
                  - adult: false
                    gender: 2
                    id: 10965
                    known_for_department: Directing
                    name: Chris Columbus
                    original_name: Chris Columbus
                    popularity: 2.5737
                    profile_path: /yCyEz90NqjEXKZ7HYcEhDXlLlPc.jpg
                    credit_id: 52fe4267c3a36847f801be05
                    department: Directing
                    job: Director
                  - adult: false
                    gender: 1
                    id: 10966
                    known_for_department: Writing
                    name: J.K. Rowling
                    original_name: J.K. Rowling
                    popularity: 0.7377
                    profile_path: /8VDx3K8NBGJDEWr4KdsGsuT8wuj.jpg
                    credit_id: 52fe4267c3a36847f801be0b
                    department: Writing
                    job: Novel
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/keywords:
    get:
      summary: Keywords
      description: Get the keywords for a movie.
      operationId: MovieKeywords
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KeywordsWithID'
              example:
                id: 671
                keywords:
                  - id: 616
                    name: witch
                  - id: 818
                    name: based on novel or book
                  - id: 177912
                    name: wizard
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/recommendations:
    get:
      summary: Recommendations
      description: Get movie recommendations.
      operationId: MovieRecommendations
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListPage'
              example:
                page: 1
                results:
                  - adult: false
                    backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 671
                    original_language: en
                    original_title: Harry Potter and the Philosopher's Stone
                    overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
                    popularity: 203.037
                    poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
                    media_type: movie
                    release_date: '2001-11-16'
                    title: Harry Potter and the Philosopher's Stone
                    video: false
                    vote_average: 7.914
                    vote_count: 26490
                  - adult: false
                    backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
                    genre_ids:
                      - 12
                      - 14
                    id: 672
                    original_language: en
                    original_title: Harry Potter and the Chamber of Secrets
                    overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
                    popularity: 157.67
                    poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
                    media_type: movie
                    release_date: '2002-11-13'
                    title: Harry Potter and the Chamber of Secrets
                    video: false
                    vote_average: 7.7
                    vote_count: 21775
                total_pages: 2
                total_results: 39
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /movie/{movie_id}/similar:
    get:
      summary: Similar
      description: |
        Get the similar movies based on genres and keywords.

        > ### **Note**
        > This method only looks for other items based on genres and plot keywords. As such, the results found here
        > are not always going to be perfect. Use it with that in mind.
      operationId: MovieSimilar
      tags:
        - Movies
      parameters:
        - $ref: '#/components/parameters/MovieID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /network/{network_id}:
    get:
      summary: Details
      description: Get the TV network details by ID.
      operationId: NetworkDetails
      tags:
        - Networks
      parameters:
        - $ref: '#/components/parameters/NetworkID'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
              example:
                id: 49
                name: HBO
                origin_country: US
                logo_path: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                headquarters: New York City, New York
                homepage: https://www.hbo.com
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/collection:
    get:
      summary: Collection
      description: Search for collections by their original, translated and alternative names.
      operationId: SearchCollection
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionListPage'
              example:
                page: 1
                results:
                  - id: 1241
                    name: Harry Potter Collection
                    adult: false
                    original_language: en
                    original_name: Harry Potter Collection
                    overview: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
                    poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
                    backdrop_path: /xN6SBJVG8jqqKQrgxthn3J2m49S.jpg
                total_pages: 1
                total_results: 1
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/company:
    get:
      summary: Company
      description: Search for companies by their original and alternative names.
      operationId: SearchCompany
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListPage'
              example:
                page: 1
                results:
                  - id: 3268
                    name: HBO
                    origin_country: US
                    logo_path: /tuomPhY2UtuPTqqFnKMVHvSb724.png
                  - id: 14914
                    name: HBO Documentary Films
                    origin_country: US
                    logo_path: /1RZBWz53SpHUTLpRcM8BGv2plIP.png
                total_pages: 2
                total_results: 22
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/keyword:
    get:
      summary: Keyword
      description: Search for keywords by their name.
      operationId: SearchKeyword
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseObjectListPage'
              example:
                page: 1
                results:
                  - id: 262419
                    name: lost
                total_pages: 5
                total_results: 84
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/movie:
    get:
      summary: Movie
      description: Search for movies by their original, translated and alternative titles.
      operationId: SearchMovie
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/PrimaryReleaseYear'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Region'
        - $ref: '#/components/parameters/Year'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MovieListPage'
              examples:
                MovieListPageExample:
                  $ref: '#/components/examples/MovieListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/multi:
    get:
      summary: Multi
      description: Use multi search when you want to search for movies, TV shows and people in a single request.
      operationId: SearchMulti
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListPage'
              example:
                page: 1
                results:
                  - adult: false
                    backdrop_path: /aDYSnJAK0BTVeE8osOy22Kz3SXY.jpg
                    id: 11
                    title: Star Wars
                    original_language: en
                    original_title: Star Wars
                    overview: Princess Leia is captured and held hostage by the evil Imperial forces in their effort to take over the galactic Empire. Venturesome Luke Skywalker and dashing captain Han Solo team together with the loveable robot duo R2-D2 and C-3PO to rescue the beautiful princess and restore peace and justice in the Empire.
                    poster_path: /6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg
                    media_type: movie
                    genre_ids:
                      - 12
                    popularity: 78.047
                    release_date: '1977-05-25'
                    video: false
                    vote_average: 8.208
                    vote_count: 18528
                total_pages: 11
                total_results: 201
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/person:
    get:
      summary: Person
      description: Search for people by their name and also known as names.
      operationId: SearchPerson
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonListPage'
              example:
                page: 1
                results:
                  - adult: false
                    gender: 2
                    id: 31
                    known_for_department: Acting
                    name: Tom Hanks
                    original_name: Tom Hanks
                    popularity: 84.631
                    profile_path: /xndWFsBlClOJFRdhSt4NBwiPq2o.jpg
                    known_for:
                      - adult: false
                        backdrop_path: /3h1JZGDhZ8nzxdgvkxha0qBqi05.jpg
                        id: 13
                        title: Forrest Gump
                        original_language: en
                        original_title: Forrest Gump
                        overview: A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.
                        poster_path: /arw2vcBveWOVZr6pxd9XTd1TdQa.jpg
                        media_type: movie
                        genre_ids:
                          - 35
                        popularity: 67.209
                        release_date: '1994-06-23'
                        video: false
                        vote_average: 8.481
                        vote_count: 24525
                total_pages: 1
                total_results: 1
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /search/tv:
    get:
      summary: TV
      description: Search for TV shows by their original, translated and also known as names.
      operationId: SearchTV
      tags:
        - Search
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/FirstAirDateYear'
        - $ref: '#/components/parameters/IncludeAdult'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Year'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvListPage'
              examples:
                TvListPageExample:
                  $ref: '#/components/examples/TvListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /tv/{series_id}:
    get:
      summary: Details
      description: |
        Get the details of a TV show.

        ## Append To Response
        This method supports using `append_to_response`. Read more about this
        [here](https://developer.themoviedb.org/docs/append-to-response).
      operationId: TvSeriesDetails
      tags:
        - TV Series
      parameters:
        - $ref: '#/components/parameters/SeriesID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/SeriesAppendToResponse'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvSeries'
              example:
                adult: false
                backdrop_path: /vcFW09U4834DyFOeRZpsx9x1D3S.jpg
                created_by:
                  - id: 1213434
                    credit_id: 527f9c7619c29514f208c31e
                    name: C. E. Webber
                    original_name: C. E. Webber
                    gender: 2
                    profile_path: /lHzDADWGW2ESV1uDovZzLG79sRc.jpg
                  - id: 57293
                    credit_id: 527f9c6b19c29514f208c30e
                    name: Sydney Newman
                    original_name: Sydney Newman
                    gender: 2
                    profile_path: /QKW3Widw7yaemYlB3NKEmJrhrF.jpg
                episode_run_time: []
                first_air_date: '2005-03-26'
                genres:
                  - id: 10759
                    name: Action & Adventure
                  - id: 10765
                    name: Sci-Fi & Fantasy
                homepage: http://www.bbc.co.uk/programmes/b006q2x0
                id: 57243
                in_production: false
                languages:
                  - en
                last_air_date: '2021-12-05'
                last_episode_to_air:
                  id: 3336493
                  name: The Vanquishers
                  overview: In the final epic chapter in the story of the Flux, all hope is lost. The forces of darkness are in control. But when the monsters have won, who can you count upon to save the universe?
                  vote_average: 6.3
                  vote_count: 27
                  air_date: '2021-12-05'
                  episode_number: 6
                  episode_type: finale
                  production_code: ''
                  runtime: 60
                  season_number: 13
                  show_id: 57243
                  still_path: /20wu1cj5iZWyphnYQvKY1M9yBYQ.jpg
                name: Doctor Who
                networks:
                  - id: 6
                    logo_path: /uJjcCg3O4DMEjM0xtno9OWFciRP.png
                    name: BBC One
                    origin_country: GB
                number_of_episodes: 153
                number_of_seasons: 13
                origin_country:
                  - GB
                original_language: en
                original_name: Doctor Who
                overview: 'The Doctor is a Time Lord: a 900 year old alien with 2 hearts, part of a gifted civilization who mastered time travel. The Doctor saves planets for a living—more of a hobby actually, and the Doctor''s very, very good at it.'
                popularity: 254.394
                poster_path: /4edFyasCrkH4MKs6H4mHqlrxA6b.jpg
                production_companies:
                  - id: 4762
                    logo_path: /cey5EAFwOb7AfDOsQ4p4q5MixzX.png
                    name: BBC Cymru Wales
                    origin_country: GB
                  - id: 80893
                    logo_path: /hFzOkuR4FoZE1U1hvuojMp4Qfxa.png
                    name: BBC Studios
                    origin_country: GB
                production_countries:
                  - iso_3166_1: CA
                    name: Canada
                  - iso_3166_1: GB
                    name: United Kingdom
                seasons:
                  - air_date: '2005-03-26'
                    episode_count: 13
                    id: 58468
                    name: Series 1
                    overview: The first series features Christopher Eccleston as the ninth incarnation of the Doctor, his only series in the role, accompanied by Billie Piper, as his first and main companion Rose Tyler, whom he plucks from obscurity on planet Earth, and to whom he grows increasingly attached. He also travels briefly with unruly boy-genius Adam Mitchell, played by Bruno Langley, and with 51st-century con man and former "Time Agent" Captain Jack Harkness, portrayed by John Barrowman. Episodes in the series form a loose story arc, based upon the recurring phrase "Bad Wolf".
                    poster_path: /9Jt2FFCAME7eHDC28r4qCHErhhF.jpg
                    season_number: 1
                    vote_average: 7.7
                  - air_date: '2010-04-03'
                    episode_count: 13
                    id: 58472
                    name: Series 5
                    overview: This is the first series to feature Matt Smith as the eleventh incarnation of the Doctor. Karen Gillan is introduced as the Doctor's new companion, Amy Pond. Alex Kingston returns as River Song, a mysterious woman from the Doctor's future who summons him twice. The main story arc concerns a pattern of cracks in the universe that are sometimes unnoticed by the characters. It is discovered that the cracks can erase things from existence.
                    poster_path: /hUsQerEeMqsu9cVYzMEB2OGJjrw.jpg
                    season_number: 5
                    vote_average: 7.6
                spoken_languages:
                  - english_name: English
                    iso_639_1: en
                    name: English
                status: Ended
                tagline: Space. For all.
                type: Scripted
                vote_average: 7.5
                vote_count: 2994
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /tv/{series_id}/credits:
    get:
      summary: Credits
      description: |
        Get the latest season credits of a TV show.

        > ### **Note**
        > This is the original TV credits method which returns the **latest season credit data**. If you would like to
        > request the aggregate view (which is what you see on our website) you should use the /aggregate_credits method.
      operationId: TvSeriesCredits
      tags:
        - TV Series
      parameters:
        - $ref: '#/components/parameters/SeriesID'
        - $ref: '#/components/parameters/LanguageParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
              example:
                id: 1399
                cast:
                  - id: 22970
                    adult: false
                    gender: 2
                    known_for_department: Acting
                    name: Peter Dinklage
                    original_name: Peter Dinklage
                    popularity: 30.6
                    profile_path: /lRsRgnksAhBRXwAB68MFjmTtLrk.jpg
                    character: Tyrion Lannister
                    credit_id: 5256c8b219c2956ff6047cd8
                    order: 0
                crew:
                  - id: 1406855
                    adult: false
                    gender: 2
                    known_for_department: Production
                    name: Duncan Muggoch
                    original_name: Duncan Muggoch
                    popularity: 1.592
                    profile_path: /ukGjJ62Ejd4cFziald03G34Fsrp.jpg
                    credit_id: 5ceab029c3a3682e93217a85
                    department: Production
                    job: Producer
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /tv/{series_id}/recommendations:
    get:
      summary: Recommendations
      description: Get TV show recommendations.
      operationId: TvSeriesRecommendations
      tags:
        - TV Series
      parameters:
        - $ref: '#/components/parameters/SeriesID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiListPage'
              example:
                page: 1
                results:
                  - media_type: tv
                    adult: false
                    backdrop_path: /8VWgyQjExeMgeg6Qzv6agduMU1A.jpg
                    genre_ids:
                      - 18
                      - 10759
                      - 10765
                    id: 121
                    origin_country:
                      - GB
                    original_language: en
                    original_name: Doctor Who
                    overview: The adventures of The Doctor, a time-traveling humanoid alien known as a Time Lord. He explores the universe in his TARDIS, a sentient time-traveling spaceship. Its exterior appears as a blue British police box, which was a common sight in Britain in 1963 when the series first aired. Along with a succession of companions, The Doctor faces a variety of foes while working to save civilizations, help ordinary people, and right many wrongs.
                    popularity: 59.0192
                    poster_path: /xinqAmYrZ1TEwowcQhgTkZVtVE0.jpg
                    first_air_date: '1963-11-23'
                    name: Doctor Who
                    vote_average: 7.9
                    vote_count: 672
                  - media_type: tv
                    adult: false
                    backdrop_path: /vcFW09U4834DyFOeRZpsx9x1D3S.jpg
                    genre_ids:
                      - 18
                      - 10759
                      - 10765
                    id: 57243
                    origin_country:
                      - GB
                    original_language: en
                    original_name: Doctor Who
                    overview: 'The Doctor is a Time Lord: a 900 year old alien with 2 hearts, part of a gifted civilization who mastered time travel. The Doctor saves planets for a living—more of a hobby actually, and the Doctor''s very, very good at it.'
                    popularity: 69.7645
                    poster_path: /w8enSKCf6Zm0topeQ2XPccDqsqp.jpg
                    first_air_date: '2005-03-26'
                    name: Doctor Who
                    vote_average: 7.6
                    vote_count: 3220
                total_pages: 2
                total_results: 33
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
  /tv/{series_id}/similar:
    get:
      summary: Similar
      description: Get the similar TV shows.
      operationId: TvSeriesSimilar
      tags:
        - TV Series
      parameters:
        - $ref: '#/components/parameters/SeriesID'
        - $ref: '#/components/parameters/LanguageParam'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TvListPage'
              examples:
                TvListPageExample:
                  $ref: '#/components/examples/TvListPageExample'
        '400':
          $ref: '#/components/responses/400InvalidPage'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          $ref: '#/components/responses/404NotFound'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
components:
  schemas:
    BaseObject:
      type: object
      description: The most generic type of item.
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int32
          description: The identifier of the item.
          example: 12
        name:
          type: string
          example: Adventure
    CollectionBase:
      description: A basic movie collection model.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          required:
            - backdrop_path
            - poster_path
          properties:
            poster_path:
              type: string
            backdrop_path:
              type: string
          example:
            id: 1241
            name: Harry Potter Collection
            poster_path: /eVPs2Y0LyvTLZn6AP5Z6O2rtiGB.jpg
            backdrop_path: /xN6SBJVG8jqqKQrgxthn3J2m49S.jpg
    MovieListItemWithMediaType:
      description: A movie item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/MovieListItem'
    MediaType:
      type: object
      description: A media type
      discriminator:
        propertyName: media_type
        mapping:
          movie: '#/components/schemas/MovieListItemWithMediaType'
          person: '#/components/schemas/PersonListItemWithMediaType'
          tv: '#/components/schemas/TvListItemWithMediaType'
      required:
        - media_type
      properties:
        media_type:
          type: string
          enum:
            - movie
            - person
            - tv
          x-enum-varnames:
            - MediaTypeMovie
            - MediaTypePerson
            - MediaTypeTv
          x-go-type-name: MediaType
    CountryCode:
      type: string
      description: |
        [ISO 3166-1 alpha-2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)
      minLength: 2
      maxLength: 2
      pattern: ^[A-Z]{2}$
    LanguageTag:
      type: string
      description: ISO 639-1 tag
      minLength: 2
      maxLength: 2
      pattern: ^[a-z]{2}$
    TvBase:
      description: A base TV object.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          required:
            - original_language
            - original_name
          properties:
            adult:
              type: boolean
            backdrop_path:
              type: string
            first_air_date:
              type: string
              format: date
            origin_country:
              type: array
              items:
                $ref: '#/components/schemas/CountryCode'
            original_language:
              $ref: '#/components/schemas/LanguageTag'
            original_name:
              type: string
            overview:
              type: string
            popularity:
              type: number
              format: float
            poster_path:
              type: string
            vote_average:
              type: number
              format: float
            vote_count:
              type: integer
              format: int32
    TvListItem:
      description: A basic TV item for list representation.
      allOf:
        - $ref: '#/components/schemas/TvBase'
        - type: object
          properties:
            genre_ids:
              type: array
              items:
                type: integer
                format: int32
    TvListItemWithMediaType:
      description: A basic TV item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/TvListItem'
    PersonListItem:
      description: A basic person item for list representation.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            original_name:
              type: string
            adult:
              type: boolean
            gender:
              type: integer
              format: int32
            known_for_department:
              type: string
            popularity:
              type: number
              format: float
            profile_path:
              type: string
            known_for:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/MovieListItemWithMediaType'
                  - $ref: '#/components/schemas/TvListItemWithMediaType'
    PersonListItemWithMediaType:
      description: A person item with media type as discriminator for list representation.
      allOf:
        - $ref: '#/components/schemas/MediaType'
        - $ref: '#/components/schemas/PersonListItem'
    MovieBase:
      type: object
      description: A base movie object.
      required:
        - id
        - title
        - original_language
        - original_title
      properties:
        id:
          type: integer
          format: int32
        title:
          type: string
        original_language:
          $ref: '#/components/schemas/LanguageTag'
        original_title:
          type: string
        adult:
          type: boolean
        backdrop_path:
          type: string
        overview:
          type: string
        popularity:
          type: number
          format: float
        poster_path:
          type: string
        release_date:
          type: string
          format: date
        video:
          type: boolean
        vote_average:
          type: number
          format: float
        vote_count:
          type: integer
          format: int32
    MovieListItem:
      description: A basic movie item for list representation.
      allOf:
        - $ref: '#/components/schemas/MovieBase'
        - type: object
          properties:
            genre_ids:
              type: array
              items:
                type: integer
                format: int32
    Collection:
      description: Detail information about a collection.
      allOf:
        - $ref: '#/components/schemas/CollectionBase'
        - type: object
          required:
            - overview
            - parts
          properties:
            overview:
              type: string
            parts:
              type: array
              items:
                $ref: '#/components/schemas/MovieListItemWithMediaType'
    Error:
      type: object
      description: Error model
      additionalProperties: false
      required:
        - success
        - status_code
        - status_message
      properties:
        success:
          type: boolean
          example: false
        status_code:
          type: integer
          format: int32
          minimum: 1
          maximum: 47
          example: 1
        status_message:
          type: string
          example: Success.
    OrganizationBase:
      description: Basic information about an organization.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            origin_country:
              $ref: '#/components/schemas/CountryCode'
            logo_path:
              type: string
    Organization:
      description: An organization such as a company or a TV network.
      allOf:
        - $ref: '#/components/schemas/OrganizationBase'
        - type: object
          properties:
            headquarters:
              type: string
            homepage:
              type: string
              format: uri
    Company:
      description: A production company.
      allOf:
        - $ref: '#/components/schemas/Organization'
        - type: object
          properties:
            description:
              type: string
            parent_company:
              type: string
    ImageBase:
      type: object
      properties:
        aspect_ratio:
          type: number
          format: double
        file_path:
          type: string
        height:
          type: integer
          format: int32
        vote_average:
          type: number
          format: float
        vote_count:
          type: integer
          format: int32
        width:
          type: integer
          format: int32
    OrganizationLogo:
      allOf:
        - $ref: '#/components/schemas/ImageBase'
        - type: object
          properties:
            id:
              type: string
            file_type:
              type: string
    Country:
      type: object
      description: A country represented by the two-letter country code with english and native name.
      additionalProperties: false
      required:
        - iso_3166_1
        - english_name
      properties:
        iso_3166_1:
          $ref: '#/components/schemas/CountryCode'
        english_name:
          type: string
        native_name:
          type: string
    Department:
      type: object
      description: Department with jobs
      additionalProperties: false
      required:
        - department
        - jobs
      properties:
        department:
          type: string
          description: The name of the department
        jobs:
          type: array
          description: A list of jobs within the department
          items:
            type: string
    Language:
      type: object
      description: A language represented by the ISO 639-1 tag with the english and native name of this language.
      additionalProperties: false
      required:
        - iso_639_1
        - english_name
      properties:
        iso_639_1:
          $ref: '#/components/schemas/LanguageTag'
        english_name:
          type: string
          description: English name of the language
        name:
          type: string
          description: Native name of the language
    CountryWithTimezones:
      type: object
      description: A country represented by the two-letter country code with a list of timezones.
      additionalProperties: false
      required:
        - iso_3166_1
        - zones
      properties:
        iso_3166_1:
          $ref: '#/components/schemas/CountryCode'
        zones:
          type: array
          items:
            type: string
    GenreList:
      type: object
      description: A list of genres
      required:
        - genres
      properties:
        genres:
          type: array
          items:
            $ref: '#/components/schemas/BaseObject'
          example:
            - id: 12
              name: Adventure
            - id: 14
              name: Fantasy
    ResultPage:
      type: object
      description: A base result page.
      required:
        - page
        - total_pages
        - total_results
      properties:
        page:
          description: The current page number.
          type: integer
          format: int32
          minimum: 1
          maximum: 500
        total_pages:
          description: The number of total pages.
          type: integer
          format: int32
          minimum: 1
          maximum: 500
        total_results:
          description: The number of total results.
          type: integer
          format: int32
          minimum: 0
          maximum: 10000
      example:
        page: 1
        total_pages: 1
        total_results: 1
    MovieListPage:
      description: A result page used for a list of movies ordered by popularity or rating.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/MovieListItem'
    MovieListPageWithDates:
      description: A result page with min and max dates used for a list of movies that are currently in theatres or upcoming movies.
      allOf:
        - type: object
          properties:
            dates:
              type: object
              properties:
                maximum:
                  type: string
                  format: date
                minimum:
                  type: string
                  format: date
              required:
                - maximum
                - minimum
          required:
            - dates
        - $ref: '#/components/schemas/MovieListPage'
    ProductionCountry:
      type: object
      description: A country where the movies or TV show was produced.
      properties:
        iso_3166_1:
          $ref: '#/components/schemas/CountryCode'
        name:
          type: string
      required:
        - iso_3166_1
        - name
    Creator:
      description: The creator of a TV show.
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            credit_id:
              type: string
            original_name:
              type: string
            gender:
              type: integer
              format: int32
            profile_path:
              type: string
    CreditBase:
      description: A base model for a member of the cast or the crew.
      allOf:
        - $ref: '#/components/schemas/Creator'
        - type: object
          properties:
            adult:
              type: boolean
            known_for_department:
              type: string
            popularity:
              type: number
              format: float
    CastMember:
      description: A member of the cast of a movie or a TV show.
      allOf:
        - $ref: '#/components/schemas/CreditBase'
        - type: object
          properties:
            cast_id:
              type: integer
              format: int32
            character:
              type: string
            order:
              type: integer
              format: int32
    CrewMember:
      description: A member of the crew of a movie or a TV show.
      allOf:
        - $ref: '#/components/schemas/CreditBase'
        - type: object
          properties:
            department:
              type: string
            job:
              type: string
    Credits:
      type: object
      description: The credits (cast and crew) of a movie or a TV show.
      required:
        - cast
        - crew
      properties:
        cast:
          type: array
          items:
            $ref: '#/components/schemas/CastMember'
        crew:
          type: array
          items:
            $ref: '#/components/schemas/CrewMember'
    KeywordsWithID:
      type: object
      description: A list of keywords with the movie id.
      required:
        - keywords
      properties:
        id:
          type: integer
          format: int32
        keywords:
          description: A list of keyword for the movie.
          type: array
          items:
            $ref: '#/components/schemas/BaseObject'
    MultiListPage:
      description: A result page used for a list of movies, people or TV shows.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/MovieListItemWithMediaType'
                  - $ref: '#/components/schemas/PersonListItemWithMediaType'
                  - $ref: '#/components/schemas/TvListItemWithMediaType'
    Movie:
      description: Detailed information about a movie.
      allOf:
        - $ref: '#/components/schemas/MovieBase'
        - type: object
          properties:
            belongs_to_collection:
              $ref: '#/components/schemas/CollectionBase'
            budget:
              type: integer
              format: int32
            genres:
              type: array
              items:
                $ref: '#/components/schemas/BaseObject'
            homepage:
              type: string
              format: uri
            imdb_id:
              type: string
            origin_country:
              type: array
              items:
                $ref: '#/components/schemas/CountryCode'
            production_companies:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationBase'
            production_countries:
              type: array
              items:
                $ref: '#/components/schemas/ProductionCountry'
            revenue:
              type: integer
              format: int64
            runtime:
              type: integer
              format: int32
            spoken_languages:
              type: array
              items:
                $ref: '#/components/schemas/Language'
            status:
              type: string
            tagline:
              type: string
            credits:
              $ref: '#/components/schemas/Credits'
            keywords:
              $ref: '#/components/schemas/KeywordsWithID'
            recommendations:
              $ref: '#/components/schemas/MultiListPage'
            similar:
              $ref: '#/components/schemas/MovieListPage'
    CreditsWithID:
      description: The credits (cast and crew) of a movie or a TV show and the identifier of this item.
      allOf:
        - type: object
          properties:
            id:
              type: integer
              format: int32
        - $ref: '#/components/schemas/Credits'
    CollectionListItem:
      description: An item of a collection search result page.
      allOf:
        - $ref: '#/components/schemas/CollectionBase'
        - type: object
          properties:
            adult:
              type: boolean
              example: false
            original_language:
              type: string
              example: en
            original_name:
              type: string
              example: Harry Potter Collection
            overview:
              type: string
              example: The Harry Potter films are a fantasy series based on the series of seven Harry Potter novels by British writer J. K. Rowling.
          required:
            - original_language
            - original_name
    CollectionListPage:
      description: A result page for a search for collections.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/CollectionListItem'
          required:
            - results
    CompanyListPage:
      description: A result page of a search for companies.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationBase'
          required:
            - results
    BaseObjectListPage:
      description: A result page for basic objects like genres or keywords.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          required:
            - results
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/BaseObject'
    PersonListPage:
      description: A result page used for a list of people.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/PersonListItem'
          required:
            - results
    TvListPage:
      description: A result page used for a list of TV shows.
      allOf:
        - $ref: '#/components/schemas/ResultPage'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/TvListItem'
          required:
            - results
    TvEpisodeBase:
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            air_date:
              type: string
              format: date
            episode_number:
              type: integer
              format: int32
            overview:
              type: string
            production_code:
              type: string
            runtime:
              type: integer
              format: int32
            season_number:
              type: integer
              format: int32
            still_path:
              type: string
            vote_average:
              type: number
              format: float
            vote_count:
              type: integer
              format: int32
    TvSeriesEpisode:
      allOf:
        - $ref: '#/components/schemas/TvEpisodeBase'
        - type: object
          properties:
            episode_type:
              type: string
            show_id:
              type: integer
              format: int32
    TvSeasonBase:
      allOf:
        - $ref: '#/components/schemas/BaseObject'
        - type: object
          properties:
            air_date:
              type: string
              format: date
            overview:
              type: string
            poster_path:
              type: string
            season_number:
              type: integer
              format: int32
            vote_average:
              type: number
              format: float
    TvSeriesSeason:
      allOf:
        - $ref: '#/components/schemas/TvSeasonBase'
        - type: object
          properties:
            episode_count:
              type: integer
              format: int32
    TvSeries:
      allOf:
        - $ref: '#/components/schemas/TvBase'
        - type: object
          properties:
            created_by:
              type: array
              items:
                $ref: '#/components/schemas/Creator'
            episode_run_time:
              items:
                type: integer
                format: int32
            genres:
              type: array
              items:
                $ref: '#/components/schemas/BaseObject'
            homepage:
              type: string
              format: uri
            in_production:
              type: boolean
            languages:
              type: array
              items:
                $ref: '#/components/schemas/LanguageTag'
            last_air_date:
              type: string
              format: date
            last_episode_to_air:
              $ref: '#/components/schemas/TvSeriesEpisode'
            next_episode_to_air:
              $ref: '#/components/schemas/TvSeriesEpisode'
            networks:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationBase'
            number_of_episodes:
              type: integer
              format: int32
            number_of_seasons:
              type: integer
              format: int32
            production_companies:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationBase'
            production_countries:
              type: array
              items:
                $ref: '#/components/schemas/ProductionCountry'
            seasons:
              type: array
              items:
                $ref: '#/components/schemas/TvSeriesSeason'
            spoken_languages:
              type: array
              items:
                $ref: '#/components/schemas/Language'
            status:
              type: string
            tagline:
              type: string
            type:
              type: string
            recommendations:
              $ref: '#/components/schemas/MultiListPage'
            similar:
              $ref: '#/components/schemas/TvListPage'
    Image:
      allOf:
        - $ref: '#/components/schemas/ImageBase'
        - type: object
          properties:
            iso_639_1:
              type: string
  parameters:
    CollectionID:
      in: path
      name: collection_id
      description: The collection ID.
      schema:
        type: integer
        format: int32
      required: true
    LanguageParam:
      in: query
      name: language
      description: '`ISO-639-1`-`ISO-3166-1` code'
      schema:
        type: string
        minLength: 2
        maxLength: 5
        pattern: ^([a-z]{2})(-([A-Z]{2}))?$
        default: en-US
        example: eo
    CompanyID:
      in: path
      name: company_id
      description: The company ID.
      required: true
      schema:
        type: integer
        format: int32
    KeywordID:
      in: path
      name: keyword_id
      description: The keyword ID.
      required: true
      schema:
        type: integer
        format: int32
    Page:
      in: query
      name: page
      description: The page number to return.
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 500
        default: 1
    Region:
      in: query
      name: region
      schema:
        type: string
        minLength: 2
        maxLength: 2
        pattern: ^([A-Z]{2})$
      description: '`ISO-3166-1` code'
    MovieID:
      in: path
      name: movie_id
      description: The movie ID.
      required: true
      schema:
        type: integer
        format: int32
    MovieAppendToResponse:
      in: query
      name: append_to_response
      schema:
        type: array
        items:
          type: string
          enum:
            - alternative_titles
            - credits
            - external_ids
            - keywords
            - recommendations
            - release_dates
            - reviews
            - similar
            - translations
        maxItems: 20
      explode: false
      description: |
        comma separated list of endpoints within this namespace, 20 items max
         * `alternative_titles` - Append alternative titles for this movie
         * `credits` - Append the cast and crew for this movie
         * `keywords` - Append the keywords for this movie
         * `recommendations` - Append recommended movies
         * `release_dates` - Append the release dates and certifications for this movie
         * `similar` - Append similar movies based on genres and keywords
         * `translations` - Append the translations for this movie
    NetworkID:
      in: path
      name: network_id
      description: The TV network ID.
      required: true
      schema:
        type: integer
        format: int32
    Query:
      in: query
      name: query
      description: The search string.
      required: true
      schema:
        type: string
    IncludeAdult:
      in: query
      name: include_adult
      schema:
        type: boolean
        default: false
      description: Include adult items.
    PrimaryReleaseYear:
      in: query
      name: primary_release_year
      description: Search only the primary release year.
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
    Year:
      in: query
      name: year
      description: Search for all release dates or air dates.
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
    FirstAirDateYear:
      in: query
      name: first_air_date_year
      description: 'Search only the first air date. Valid values are: 1000..9999'
      schema:
        type: integer
        format: int32
        minimum: 1000
        maximum: 9999
    SeriesID:
      in: path
      name: series_id
      description: The TV show ID.
      required: true
      schema:
        type: integer
        format: int32
    SeriesAppendToResponse:
      in: query
      name: append_to_response
      schema:
        type: array
        items:
          type: string
          enum:
            - aggregate_credits
            - alternative_titles
            - credits
            - episode_groups
            - external_ids
            - keywords
            - recommendations
            - reviews
            - similar
            - translations
        maxItems: 20
        description: |
          * `aggregate_credits` - Append the aggregate credits (cast and crew) that have been added to a TV show * `alternative_titles` - Append the alternative titles that have been added to a TV show * `similar` - Append similar movies based on genres and keywords
      explode: false
      description: comma separated list of endpoints within this namespace, 20 items max
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    401Unauthorized:
      description: Authorization information is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 7
            status_message: 'Invalid API key: You must be granted a valid key.'
    404NotFound:
      description: The server can not find the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 34
            status_message: The resource you requested could not be found.
    429TooManyRequests:
      description: Too many requests in a given amount of time (“rate limiting”).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 25
            status_message: Your request count is over the allowed limit.
    400InvalidPage:
      description: Invalid page number
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            success: false
            status_code: 22
            status_message: 'Invalid page: Pages start at 1 and max at 500. They are expected to be an integer.'
  examples:
    MovieListPageWithDatesExample:
      summary: A sample of a movie list page with a minimum and a maximum date.
      description: A sample of a movie list page with a minimum and a maximum date.
      value:
        dates:
          minimum: '2001-11-16'
          maximum: '2002-11-13'
        page: 1
        results:
          - adult: false
            backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
            genre_ids:
              - 12
              - 14
            id: 671
            original_language: en
            original_title: Harry Potter and the Philosopher's Stone
            overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
            popularity: 203.037
            poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
            release_date: '2001-11-16'
            title: Harry Potter and the Philosopher's Stone
            video: false
            vote_average: 7.914
            vote_count: 26490
          - adult: false
            backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
            genre_ids:
              - 12
              - 14
            id: 672
            original_language: en
            original_title: Harry Potter and the Chamber of Secrets
            overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
            popularity: 157.67
            poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
            release_date: '2002-11-13'
            title: Harry Potter and the Chamber of Secrets
            video: false
            vote_average: 7.7
            vote_count: 21775
        total_pages: 2
        total_results: 39
    MovieListPageExample:
      summary: A sample of a movie list page.
      description: A sample of a movie list page.
      value:
        page: 1
        results:
          - adult: false
            backdrop_path: /hziiv14OpD73u9gAak4XDDfBKa2.jpg
            genre_ids:
              - 12
              - 14
            id: 671
            original_language: en
            original_title: Harry Potter and the Philosopher's Stone
            overview: Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard—with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths—and about the villain who's to blame.
            popularity: 203.037
            poster_path: /wuMc08IPKEatf9rnMNXvIDxqP4W.jpg
            release_date: '2001-11-16'
            title: Harry Potter and the Philosopher's Stone
            video: false
            vote_average: 7.914
            vote_count: 26490
          - adult: false
            backdrop_path: /yHzyPJrVqlTySQ9mc379yxrLBYQ.jpg
            genre_ids:
              - 12
              - 14
            id: 672
            original_language: en
            original_title: Harry Potter and the Chamber of Secrets
            overview: 'Cars fly, trees fight back, and a mysterious house-elf comes to warn Harry Potter at the start of his second year at Hogwarts. Adventure and danger await when bloody writing on a wall announces: The Chamber Of Secrets Has Been Opened. To save Hogwarts will require all of Harry, Ron and Hermione’s magical abilities and courage.'
            popularity: 157.67
            poster_path: /sdEOH0992YZ0QSxgXNIGLq1ToUi.jpg
            release_date: '2002-11-13'
            title: Harry Potter and the Chamber of Secrets
            video: false
            vote_average: 7.7
            vote_count: 21775
        total_pages: 2
        total_results: 39
    TvListPageExample:
      summary: A sample of a TV show list page.
      description: A sample of a TV show list page.
      value:
        page: 1
        results:
          - adult: false
            backdrop_path: /8VWgyQjExeMgeg6Qzv6agduMU1A.jpg
            genre_ids:
              - 18
              - 10759
              - 10765
            id: 121
            origin_country:
              - GB
            original_language: en
            original_name: Doctor Who
            overview: The adventures of The Doctor, a time-traveling humanoid alien known as a Time Lord. He explores the universe in his TARDIS, a sentient time-traveling spaceship. Its exterior appears as a blue British police box, which was a common sight in Britain in 1963 when the series first aired. Along with a succession of companions, The Doctor faces a variety of foes while working to save civilizations, help ordinary people, and right many wrongs.
            popularity: 59.0192
            poster_path: /xinqAmYrZ1TEwowcQhgTkZVtVE0.jpg
            first_air_date: '1963-11-23'
            name: Doctor Who
            vote_average: 7.9
            vote_count: 672
          - adult: false
            backdrop_path: /vcFW09U4834DyFOeRZpsx9x1D3S.jpg
            genre_ids:
              - 18
              - 10759
              - 10765
            id: 57243
            origin_country:
              - GB
            original_language: en
            original_name: Doctor Who
            overview: 'The Doctor is a Time Lord: a 900 year old alien with 2 hearts, part of a gifted civilization who mastered time travel. The Doctor saves planets for a living—more of a hobby actually, and the Doctor''s very, very good at it.'
            popularity: 69.7645
            poster_path: /w8enSKCf6Zm0topeQ2XPccDqsqp.jpg
            first_air_date: '2005-03-26'
            name: Doctor Who
            vote_average: 7.6
            vote_count: 3220
        total_pages: 2
        total_results: 33
