---
openapi: 3.0.3

info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.32.11

servers:
  - url: https://api.themoviedb.org/3
    description: Main (production) server
  - url: https://api.themoviedb.localhost
    description: Internal staging server for testing

security:
  - bearerAuth: []

tags:
  - name: Configuration
    description: The configuration methods are useful to get the static lists of data we use throughout the database.
  - name: Genres
    description: Official genres for movies and TV shows.
  - name: Keywords
    description: Keyword details.
  - name: Networks
    description: TV network details.
  - name: Search
    description: Search for companies and keywords.

paths:
  /configuration/countries:
    $ref: './paths/ConfigurationCountries.yaml'
  /configuration/jobs:
    $ref: './paths/ConfigurationJobs.yaml'
  /configuration/languages:
    $ref: './paths/ConfigurationLanguages.yaml'
  /configuration/primary_translations:
    $ref: './paths/ConfigurationPrimaryTranslations.yaml'
  /configuration/timezones:
    $ref: './paths/ConfigurationTimezones.yaml'

  /genre/movie/list:
    $ref: './paths/GenreMovieList.yaml'
  /genre/tv/list:
    $ref: './paths/GenreTvList.yaml'

  /keyword/{keyword_id}:
    $ref: './paths/KeywordDetails.yaml'

  /network/{network_id}:
    $ref: './paths/NetworkDetails.yaml'

  /search/company:
    $ref: './paths/SearchCompany.yaml'
  /search/keyword:
    $ref: './paths/SearchKeyword.yaml'

components:
  # Reusable schemas (data models)
  schemas:
    $ref: './components/schemas/_index.yaml'

  # Reusable path, query, header and cookie parameters
  parameters:
    $ref: "./components/parameters/_index.yaml"

  # Security scheme definitions (see Authentication)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  responses:
    $ref: "./components/responses/_index.yaml"
