---
openapi: 3.1.0

info:
  title: TMDB API
  description: The Movie Database (TMDB) API
  version: 0.32.27

servers:
  - url: https://api.themoviedb.org/3
    description: Main (production) server
  - url: https://api.themoviedb.localhost
    description: Internal staging server for testing

security:
  - bearerAuth: []

tags:
  - name: Collections
    description: Collection details.
  - name: Companies
    description: Company details.
  - name: Configuration
    description: The configuration methods are useful to get the static lists of data we use throughout the database.
  - name: Genres
    description: Official genres for movies and TV shows.
  - name: Keywords
    description: Keyword details.
  - name: Movie Lists
    description: Lists of movies currently in theatres, popular movies, movies ordered by rating or upcoming movies.
  - name: Movies
    description: Movie credits, keywords or similar movies.
  - name: Networks
    description: TV network details.
  - name: Search
    description: Search for collection, companies, keywords, movies, people or TV shows.
  - name: TV Series
    description: similar TV shows.

paths:
  /collection/{collection_id}:
    $ref: "./paths/CollectionDetails.yaml"

  /company/{company_id}:
    $ref: "./paths/CompanyDetails.yaml"

  /configuration/countries:
    $ref: "./paths/ConfigurationCountries.yaml"
  /configuration/jobs:
    $ref: "./paths/ConfigurationJobs.yaml"
  /configuration/languages:
    $ref: "./paths/ConfigurationLanguages.yaml"
  /configuration/primary_translations:
    $ref: "./paths/ConfigurationPrimaryTranslations.yaml"
  /configuration/timezones:
    $ref: "./paths/ConfigurationTimezones.yaml"

  /genre/movie/list:
    $ref: "./paths/GenreMovieList.yaml"
  /genre/tv/list:
    $ref: "./paths/GenreTvList.yaml"

  /keyword/{keyword_id}:
    $ref: "./paths/KeywordDetails.yaml"

  /movie/now_playing:
    $ref: "./paths/MovieNowPlayingList.yaml"
  /movie/popular:
    $ref: "./paths/MoviePopularList.yaml"
  /movie/top_rated:
    $ref: "./paths/MovieTopRatedList.yaml"
  /movie/upcoming:
    $ref: "./paths/MovieUpcomingList.yaml"

  /movie/{movie_id}/credits:
    $ref: "./paths/MovieCredits.yaml"
  /movie/{movie_id}/keywords:
    $ref: "./paths/MovieKeywords.yaml"
  /movie/{movie_id}/recommendations:
    $ref: "./paths/MovieRecommendations.yaml"
  /movie/{movie_id}/similar:
    $ref: "./paths/MovieSimilar.yaml"

  /network/{network_id}:
    $ref: "./paths/NetworkDetails.yaml"

  /search/collection:
    $ref: "./paths/SearchCollection.yaml"
  /search/company:
    $ref: "./paths/SearchCompany.yaml"
  /search/keyword:
    $ref: "./paths/SearchKeyword.yaml"
  /search/movie:
    $ref: "./paths/SearchMovie.yaml"
  /search/multi:
    $ref: "./paths/SearchMulti.yaml"
  /search/person:
    $ref: "./paths/SearchPerson.yaml"
  /search/tv:
    $ref: "./paths/SearchTV.yaml"

  /tv/{series_id}/similar:
    $ref: "./paths/TvSeriesSimilar.yaml"

components:
  # Reusable schemas (data models)
  schemas:
    $ref: "./components/schemas/_index.yaml"

  # Reusable path, query, header and cookie parameters
  parameters:
    $ref: "./components/parameters/_index.yaml"

  # Security scheme definitions (see Authentication)
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  # Reusable responses, such as 401 Unauthorized or 400 Bad Request
  responses:
    $ref: "./components/responses/_index.yaml"

  # Reusable examples
  examples:
    $ref: "./components/examples/_index.yaml"
